In [1]:
import pandas as pd
import numpy as np

In [4]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018.csv')
외국인메이저성적 = pd.read_csv('fangraphs_foreigners_2011_2018.csv')
외국인스탯캐스터 = pd.read_csv('baseball_savant_foreigners_2011_2018.csv')
신규외국인성적 = pd.read_csv('fangraphs_foreigners_2019.csv')
신규외국인스텟캐스터 = pd.read_csv('baseball_savant_foreigners_2019.csv')

In [ ]:
display(외국인역대성적.head())
print('*'*50)
display(외국인메이저성적.head())
print('*'*50)
display(외국인스탯캐스터.head())
print('*'*50)
display(신규외국인성적.head())
print('*'*50)
display(신규외국인스텟캐스터.head())
print('*'*50)

# 외국인 투수 승패 크롤링

In [5]:
name_list = list(set(외국인역대성적['pitcher_name']))

In [6]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [7]:
from selenium import webdriver
import time
path = './driver/chromedriver.exe'
driver = webdriver.Chrome(path)

In [8]:
def player_win(year,dic):
    driver.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
    page1 = driver.find_elements_by_tag_name('option')
    for i in page1:
            if i.text == str(year):
                print(year)
                i.click()
                time.sleep(1.5)
                page = driver.find_elements_by_css_selector('.tData01')
                k = page[0].find_element_by_tag_name('thead').find_element_by_tag_name('tr').find_elements_by_tag_name('th')
                k[5].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                for page_num in range(1,6):
                    page3 = driver.find_elements_by_css_selector('.paging')
                    page3[0].find_elements_by_tag_name('a')[page_num].click()
                    time.sleep(1.5)
                    page2 = driver.find_elements_by_css_selector('.tData01')
                    a = page2[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
                    for idx,value in enumerate(a):
                        name = value.find_elements_by_tag_name('td')[1].text
                        for key in list(dic.keys()):
                            if key == name:
                                print(name)
                                dic[key] = [str(value.find_elements_by_tag_name('td')[5].text), str(value.find_elements_by_tag_name('td')[6].text)]  
                break 
    return    dic

In [9]:
names=[]
def setName(cnt):
    global names
    for i in range (11,cnt+1):
        names.append('name_dict_{}'.format(i)) 
    for name1 in names:
        globals()[name1] = {}
        for i2 in name_list:
            globals()[name1][i2] = 0
setName(18)

In [10]:
year_list = [i for i in range(2011,2019) ]

In [11]:
def save(dic_list, year_list):
    for dic,year in zip(dic_list, year_list):
        print(dic)
        dic = player_win(year,eval(dic))

In [12]:
save(names, year_list)

name_dict_11
2011
니퍼트
리즈
name_dict_12
2012
탈보트
니퍼트
소사
리즈
name_dict_13
2013
세든
니퍼트
리즈
소사
레이예스
밴덴헐크
이브랜드
아담
올슨
name_dict_14
2014
니퍼트
밴덴헐크
소사
웨버
앨버스
볼스테드
티포드
어센시오
마야
레이예스
울프
토마스
name_dict_15
2015
해커
피가로
피어밴드
린드블럼
클로이드
레일리
스틴슨
루카스
소사
탈보트
세든
니퍼트
로저스
스와잭
에반
험버
마야
어윈
name_dict_16
2016
니퍼트
보우덴
헥터
해커
지크
린드블럼
소사
레일리
카스티요
허프
피어밴드
코엘로
마리몬
세든
웹스터
플란데
로저스
서캠프
코프랜드
피노
name_dict_17
2017
헥터
니퍼트
레일리
맨쉽
해커
소사
브리검
다이아몬드
오간도
팻딘
피어밴드
허프
비야누에바
린드블럼
보우덴
레나도
name_dict_18
2018
후랭코프
린드블럼
샘슨
헥터
레일리
브리검
소사
윌슨
산체스
아델만
니퍼트
피어밴드
보니야
팻딘
듀브론트
베렛
로저스
해커
헤일
휠러

In [13]:
import numpy as np
# 딕셔너리랑 df랑 합치기
for dic,year in zip(names, year_list):
    for i in range(외국인역대성적.shape[0]):
        if 외국인역대성적.loc[i,'year'] == year:
            print(year)
            for key,value in eval(dic).items():
                if 외국인역대성적.loc[i,'pitcher_name'] == key:
                    if value != 0:
                        print(key, value)
                        print(value)
                        print(' '.join(value))
                        외국인역대성적.loc[i,'2011년_승_패'] = str(' '.join(value))
                    else:
                        외국인역대성적.loc[i,'2011년_승_패'] = 0

2011
니퍼트 ['15', '6']
['15', '6']
15 6
2011
리즈 ['11', '13']
['11', '13']
11 13
2012
니퍼트 ['11', '10']
['11', '10']
11 10
2012
리즈 ['5', '12']
['5', '12']
5 12
2012
소사 ['9', '8']
['9', '8']
9 8
2012
탈보트 ['14', '3']
['14', '3']
14 3
2013
니퍼트 ['12', '4']
['12', '4']
12 4
2013
레이예스 ['8', '13']
['8', '13']
8 13
2013
리즈 ['10', '13']
['10', '13']
10 13
2013
밴덴헐크 ['7', '9']
['7', '9']
7 9
2013
세든 ['14', '6']
['14', '6']
14 6
2013
소사 ['9', '9']
['9', '9']
9 9
2013
아담 ['4', '8']
['4', '8']
4 8
2013
올슨 ['1', '1']
['1', '1']
1 1
2013
이브랜드 ['6', '14']
['6', '14']
6 14
2013
2014
니퍼트 ['14', '7']
['14', '7']
14 7
2014
레이예스 ['2', '7']
['2', '7']
2 7
2014
마야 ['2', '4']
['2', '4']
2 4
2014
밴덴헐크 ['13', '4']
['13', '4']
13 4
2014
볼스테드 ['5', '7']
['5', '7']
5 7
2014
소사 ['10', '2']
['10', '2']
10 2
2014
앨버스 ['6', '13']
['6', '13']
6 13
2014
어센시오 ['4', '1']
['4', '1']
4 1
2014
울프 ['2', '2']
['2', '2']
2 2
2014
웨버 ['9', '6']
['9', '6']
9 6
2014
토마스 ['2', '2']
['2', '2']
2 2
2014
티포드 ['5', '6']
['5', '6']
5 6
2014
2015
니퍼트 ['6', '5']
['6', '5']
6 5
2015
레일리 ['11', '9']
['11', '9']
11 9
2015
로저스 ['6', '2']
['6', '2']
6 2
2015
루카스 ['10', '11']
['10', '11']
10 11
2015
린드블럼 ['13', '11']
['13', '11']
13 11
2015
마야 ['2', '5']
['2', '5']
2 5
2015
세든 ['7', '5']
['7', '5']
7 5
2015
소사 ['10', '12']
['10', '12']
10 12
2015
스와잭 ['5', '7']
['5', '7']
5 7
2015
스틴슨 ['11', '10']
['11', '10']
11 10
2015
어윈 ['1', '7']
['1', '7']
1 7
2015
에반 ['4', '0']
['4', '0']
4 0
2015
클로이드 ['11', '11']
['11', '11']
11 11
2015
탈보트 ['10', '11']
['10', '11']
10 11
2015
피가로 ['13', '7']
['13', '7']
13 7
2015
피어밴드 ['13', '11']
['13', '11']
13 11
2015
해커 ['19', '5']
['19', '5']
19 5
2015
험버 ['3', '3']
['3', '3']
3 3
2016
니퍼트 ['22', '3']
['22', '3']
22 3
2016
2016
레일리 ['8', '10']
['8', '10']
8 10
2016
로저스 ['2', '3']
['2', '3']
2 3
2016
린드블럼 ['10', '13']
['10', '13']
10 13
2016
마리몬 ['6', '4']
['6', '4']
6 4
2016
보우덴 ['18', '7']
['18', '7']
18 7
2016
서캠프 ['2', '5']
['2', '5']
2 5
2016
세든 ['5', '5']
['5', '5']
5 5
2016
소사 ['10', '9']
['10', '9']
10 9
2016
웹스터 ['4', '4']
['4', '4']
4 4
2016
지크 ['10', '13']
['10', '13']
10 13
2016
카스티요 ['7', '4']
['7', '4']
7 4
2016
코엘로 ['6', '5']
['6', '5']
6 5
2016
코프랜드 ['2', '3']
['2', '3']
2 3
2016
플란데 ['2', '6']
['2', '6']
2 6
2016
피노 ['2', '3']
['2', '3']
2 3
2016
피어밴드 ['7', '13']
['7', '13']
7 13
2016
해커 ['13', '3']
['13', '3']
13 3
2016
허프 ['7', '2']
['7', '2']
7 2
2016
헥터 ['15', '5']
['15', '5']
15 5
2017
니퍼트 ['14', '8']
['14', '8']
14 8
2017
다이아몬드 ['10', '7']
['10', '7']
10 7
2017
레나도 ['2', '3']
['2', '3']
2 3
2017
레일리 ['13', '7']
['13', '7']
13 7
2017
린드블럼 ['5', '3']
['5', '3']
5 3
2017
맨쉽 ['12', '4']
['12', '4']
12 4
2017
보우덴 ['3', '5']
['3', '5']
3 5
2017
브리검 ['10', '6']
['10', '6']
10 6
2017
비야누에바 ['5', '7']
['5', '7']
5 7
2017
소사 ['11', '11']
['11', '11']
11 11
2017
오간도 ['10', '5']
['10', '5']
10 5
2017
2017
팻딘 ['9', '7']
['9', '7']
9 7
2017
피어밴드 ['8', '10']
['8', '10']
8 10
2017
해커 ['12', '7']
['12', '7']
12 7
2017
허프 ['6', '4']
['6', '4']
6 4
2017
헥터 ['20', '5']
['20', '5']
20 5
2018
니퍼트 ['8', '8']
['8', '8']
8 8
2018
듀브론트 ['6', '9']
['6', '9']
6 9
2018
레일리 ['11', '13']
['11', '13']
11 13
2018
로저스 ['5', '4']
['5', '4']
5 4
2018
린드블럼 ['15', '4']
['15', '4']
15 4
2018
베렛 ['6', '10']
['6', '10']
6 10
2018
보니야 ['7', '10']
['7', '10']
7 10
2018
브리검 ['11', '7']
['11', '7']
11 7
2018
샘슨 ['13', '8']
['13', '8']
13 8
2018
소사 ['9', '9']
['9', '9']
9 9
2018
아델만 ['8', '12']
['8', '12']
8 12
2018
팻딘 ['6', '7']
['6', '7']
6 7
2018
피어밴드 ['8', '8']
['8', '8']
8 8
2018
해커 ['5', '3']
['5', '3']
5 3
2018
헥터 ['11', '10']
['11', '10']
11 10
2018
후랭코프 ['18', '3']
['18', '3']
18 3
2018
휠러 ['3', '9']
['3', '9']
3 9
2018
산체스 ['8', '8']
['8', '8']
8 8
2018
윌슨 ['9', '4']
['9', '4']
9 4
2018
헤일 ['3', '4']
['3', '4']
3 4

In [14]:
외국인역대성적.to_csv('kbo_yearly_foreigners_2011_2018_추가분.csv',mode='w',index=False,encoding='utf-8-sig')

In [19]:
외국인역대성적

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,2011년_승_패
0,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15 6
1,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11 10
2,니퍼트,2013,두산,3.58,482,108,7,34,4,104,NaN,12 4
3,니퍼트,2014,두산,3.81,760,186,17,48,6,158,NaN,14 7
4,니퍼트,2015,두산,5.10,404,104,4,33,4,76,NaN,6 5
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22 3
6,니퍼트,2017,두산,4.06,782,175,20,77,10,161,NaN,14 8
7,니퍼트,2018,KT,4.25,765,209,26,39,9,165,NaN,8 8
8,다이아몬드,2017,SK,4.42,581,163,11,35,9,59,NaN,10 7
9,듀브론트,2018,롯데,4.92,629,162,13,62,8,109,NaN,6 9
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2 3
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0
12,레이예스,2013,SK,4.84,751,157,15,91,7,135,NaN,8 13
13,레이예스,2014,SK,6.55,369,103,10,38,3,41,NaN,2 7
14,레일리,2015,롯데,3.91,768,182,20,57,15,134,1988년 06월 29일,11 9
15,레일리,2016,롯데,4.34,808,207,21,51,17,147,1988년 06월 29일,8 10
16,레일리,2017,롯데,3.80,798,199,19,44,17,156,1988년 06월 29일,13 7
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11 13
18,로저스,2015,한화,2.97,296,62,2,20,4,60,NaN,6 2
19,로저스,2016,한화,4.30,160,42,3,12,2,24,NaN,2 3
20,로저스,2018,넥센,3.80,345,89,7,16,5,65,NaN,5 4
21,루카스,2015,LG,4.93,785,175,11,108,14,151,NaN,10 11
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11 13
23,리즈,2012,LG,3.69,656,138,6,68,9,144,NaN,5 12
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10 13
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13 11
26,린드블럼,2016,롯데,5.28,791,197,28,77,9,148,1987년 06월 15일,10 13
27,린드블럼,2017,롯데,3.72,296,66,10,18,2,76,1987년 06월 15일,5 3
28,린드블럼,2018,두산,2.88,681,142,16,38,8,157,1987년 06월 15일,15 4
29,마리몬,2016,KT,5.23,275,60,3,29,6,45,NaN,6 4
...,...,...,...,...,...,...,...,...,...,...,...,...
75,탈보트,2012,삼성,3.97,584,136,8,54,5,68,NaN,14 3
76,탈보트,2015,한화,4.72,695,153,11,85,13,120,NaN,10 11
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2 2
78,티포드,2014,LG,5.24,455,105,9,51,6,85,NaN,5 6
79,팻딘,2017,KIA,4.14,770,211,22,39,16,143,NaN,9 7
80,팻딘,2018,KIA,6.26,588,174,23,27,4,101,NaN,6 7
81,플란데,2016,삼성,7.60,330,92,13,33,1,56,NaN,2 6
82,피가로,2015,삼성,3.38,688,154,16,51,7,117,NaN,13 7
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2 3
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13 11
85,피어밴드,2016,KT,4.45,803,231,23,48,10,144,NaN,7 13
86,피어밴드,2017,KT,3.04,657,153,20,31,7,132,NaN,8 10
87,피어밴드,2018,KT,4.30,707,186,24,38,6,141,NaN,8 8
88,해커,2013,NC,3.63,744,163,12,50,17,127,NaN,0
89,해커,2014,NC,4.01,749,169,14,62,14,112,NaN,0
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19 5
91,해커,2016,NC,3.45,587,132,14,31,10,119,NaN,13 3
92,해커,2017,NC,3.42,672,159,14,29,14,97,NaN,12 7
93,해커,2018,넥센,5.20,349,86,16,30,5,56,NaN,5 3
94,허프,2016,LG,3.13,299,72,2,9,1,46,NaN,7 2
95,허프,2017,LG,2.38,490,100,7,14,2,98,NaN,6 4
96,험버,2015,KIA,6.75,244,62,11,32,5,35,NaN,3 3
97,헥터,2016,KIA,3.40,868,211,7,51,6,139,NaN,15 5
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20 5
99,헥터,2018,KIA,4.60,753,209,25,36,4,137,NaN,11 10
100,후랭코프,2018,두산,3.74,621,118,12,55,22,134,1988년 08월 27일,18 3
101,휠러,2018,한화,5.13,459,128,12,34,10,94,NaN,3 9
102,산체스,2018,SK,4.89,632,161,26,39,7,124,1989년 11월 28일,8 8
103,윌슨,2018,LG,3.07,689,158,11,35,6,149,1989년 09월 25일,9 4
104,헤일,2018,한화,4.34,277,68,8,17,4,55,NaN,3 4

In [18]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018_추가분.csv',encoding='utf-8-sig')
외국인역대성적.head()

OSError: Initializing from file failed