In [1]:
import pandas as pd

In [2]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018.csv')
외국인메이저성적 = pd.read_csv('fangraphs_foreigners_2011_2018.csv')
외국인스탯캐스터 = pd.read_csv('baseball_savant_foreigners_2011_2018.csv')
신규외국인성적 = pd.read_csv('fangraphs_foreigners_2019.csv')
신규외국인스텟캐스터 = pd.read_csv('baseball_savant_foreigners_2019.csv')

In [3]:
display(외국인역대성적.head())
print('*'*50)
display(외국인메이저성적.head())
print('*'*50)
display(외국인스탯캐스터.head())
print('*'*50)
display(신규외국인성적.head())
print('*'*50)
display(신규외국인스텟캐스터.head())
print('*'*50)

  pitcher_name  year team   ERA  TBF    H  HR  BB  HBP   SO year_born
0          니퍼트  2011   두산  2.55  763  150   8  64   10  150       NaN
1          니퍼트  2012   두산  3.20  785  156  15  68    8  126       NaN
2          니퍼트  2013   두산  3.58  482  108   7  34    4  104       NaN
3          니퍼트  2014   두산  3.81  760  186  17  48    6  158       NaN
4          니퍼트  2015   두산  5.10  404  104   4  33    4   76       NaN

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,오간도,2011.0,3.51,3.3,693.0,149.0,16.0,43.0,7.0,126.0,1.14,0.265,3.65,0.237,0.364,0.674,0.147,0.090,0.475
1,험버,2011.0,3.75,3.2,676.0,151.0,14.0,41.0,6.0,116.0,1.18,0.275,3.58,0.168,0.471,0.458,0.094,0.092,0.463
2,루카스,2012.0,3.76,2.8,827.0,185.0,13.0,78.0,1.0,140.0,1.36,0.289,3.75,0.203,0.572,0.707,0.082,0.062,0.424
3,다이아몬드,2012.0,3.54,2.2,714.0,184.0,17.0,31.0,4.0,90.0,1.24,0.292,3.94,0.210,0.534,0.597,0.040,0.068,0.467
4,듀브론트,2013.0,4.32,2.2,705.0,161.0,13.0,71.0,5.0,139.0,1.43,0.310,3.78,0.199,0.456,0.633,0.127,0.077,0.434

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2010-10-09,93.0,425834.0,430962,field_out,hit_into_play,4.0,R,R,popup,...,-0.626,2.771,-6.404,26.077,-9.694,NaN,NaN,NaN,4-Seam Fastball,니퍼트
1,2010-10-09,95.2,150289.0,430962,home_run,hit_into_play_score,5.0,L,R,fly_ball,...,-0.112,2.401,-10.168,28.786,-8.895,NaN,NaN,NaN,4-Seam Fastball,니퍼트
2,2010-10-09,94.3,150289.0,430962,NaN,foul,2.0,L,R,NaN,...,0.272,3.052,-5.605,26.657,-7.794,NaN,NaN,NaN,4-Seam Fastball,니퍼트
3,2010-10-09,94.0,150289.0,430962,NaN,blocked_ball,13.0,L,R,NaN,...,-1.193,0.632,-9.099,30.273,-6.371,NaN,NaN,NaN,4-Seam Fastball,니퍼트
4,2010-10-09,92.8,150289.0,430962,NaN,ball,14.0,L,R,NaN,...,0.370,1.383,-5.846,27.290,-11.262,NaN,NaN,NaN,4-Seam Fastball,니퍼트

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,버틀러,2017.0,3.95,0.6,237.0,50.0,4.0,28.0,2.0,30.0,1.43,0.266,4.66,0.224,0.443,0.661,0.138,0.072,0.465
1,터너,2014.0,6.13,0.5,501.0,148.0,12.0,33.0,1.0,71.0,1.60,0.354,4.16,0.208,0.491,0.636,0.052,0.080,0.461
2,터너,2013.0,3.74,0.3,514.0,116.0,11.0,54.0,4.0,77.0,1.44,0.285,4.43,0.195,0.457,0.675,0.047,0.083,0.454
3,맥과이어,2017.0,2.63,0.3,56.0,10.0,1.0,2.0,1.0,11.0,0.88,0.220,3.16,0.119,0.286,0.638,0.080,0.095,0.448
4,터너,2012.0,4.42,0.2,231.0,50.0,9.0,16.0,0.0,36.0,1.20,0.241,4.79,0.192,0.452,0.566,0.079,0.096,0.454

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2018-05-03,85.4,519058,518445,sac_fly,hit_into_play_score,13.0,L,L,fly_ball,...,-0.9200,2.0320,-6.1015,22.5146,-29.0091,90.4,26.0,2305.0,Cutter,채드벨
1,2018-05-03,91.7,519058,518445,NaN,foul,12.0,L,L,NaN,...,0.4845,3.5506,6.7067,29.5849,-15.5999,72.7,14.0,2265.0,4-Seam Fastball,채드벨
2,2018-05-03,86.1,519058,518445,NaN,foul,13.0,L,L,NaN,...,-1.4736,1.6516,-5.7169,25.0563,-27.4184,NaN,NaN,2379.0,Cutter,채드벨
3,2018-05-03,85.3,519058,518445,NaN,ball,11.0,L,L,NaN,...,-1.5007,2.5166,-2.7315,24.9668,-30.5457,NaN,NaN,2284.0,Cutter,채드벨
4,2018-05-03,83.3,519058,518445,NaN,swinging_strike,12.0,L,L,NaN,...,0.3519,3.5876,-3.3883,24.6765,-32.2025,NaN,NaN,2332.0,Slider,채드벨

**************************************************

In [4]:
name = list(set(외국인역대성적['pitcher_name']))

In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [6]:
from selenium import webdriver
import time
path = './driver/chromedriver.exe'
driver = webdriver.Chrome(path)

In [50]:
def player_win(year,dic):
    driver.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
    page1 = driver.find_elements_by_tag_name('option')
    for i in page1:
            if i.text == str(year):
                print(year)
                i.click()
                time.sleep(1.5)
                page = driver.find_elements_by_css_selector('.tData01')
                k = page[0].find_element_by_tag_name('thead').find_element_by_tag_name('tr').find_elements_by_tag_name('th')
                k[5].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                for page_num in range(1,6):
                    page3 = driver.find_elements_by_css_selector('.paging')
                    page3[0].find_elements_by_tag_name('a')[page_num].click()
                    time.sleep(1.5)
                    page2 = driver.find_elements_by_css_selector('.tData01')
                    a = page2[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
                    for idx,value in enumerate(a):
                        name = value.find_elements_by_tag_name('td')[1].text
                        for key in list(dic.keys()):
                            if key == name:
                                print(name)
                                dic[key] = [str(value.find_elements_by_tag_name('td')[5].text), str(value.find_elements_by_tag_name('td')[6].text)]  
                break 
    return    dic

In [51]:
name_dict_11 = {}
for data in name:
    name_dict_11[data] = 0

name_dict_12 = {}
for data in name:
    name_dict_12[data] = 0   
    
name_dict_13 = {}
for data in name:
    name_dict_13[data] = 0   
    
name_dict_14 = {}
for data in name:
    name_dict_14[data] = 0    
    
name_dict_15 = {}
for data in name:
    name_dict_15[data] = 0
    
name_dict_16 = {}
for data in name:
    name_dict_16[data] = 0
    
name_dict_17 = {}
for data in name:
    name_dict_17[data] = 0
    
name_dict_18 = {}
for data in name:
    name_dict_18[data] = 0

In [52]:
dic_list = [name_dict_11, name_dict_12,name_dict_13,name_dict_14,name_dict_15,name_dict_16,name_dict_17,name_dict_18]
year_list = [i for i in range(2011,2019) ]

In [53]:
def save(dic_list, year_list):
    for dic,year in zip(dic_list, year_list):
        print(dic)
        dic = player_win(year,dic)

In [54]:
save(dic_list, year_list)

{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2011
니퍼트
리즈
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2012
탈보트
니퍼트
소사
리즈
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2013
세든
니퍼트
리즈
소사
레이예스
밴덴헐크
이브랜드
아담
올슨
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2014
니퍼트
밴덴헐크
소사
웨버
앨버스
볼스테드
티포드
어센시오
마야
레이예스
울프
토마스
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2015
해커
피가로
피어밴드
린드블럼
클로이드
레일리
스틴슨
루카스
소사
탈보트
세든
니퍼트
로저스
스와잭
에반
험버
마야
어윈
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2016
니퍼트
보우덴
헥터
해커
지크
린드블럼
소사
레일리
카스티요
허프
피어밴드
코엘로
마리몬
세든
웹스터
플란데
로저스
서캠프
코프랜드
피노
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2017
헥터
니퍼트
레일리
맨쉽
해커
소사
브리검
다이아몬드
오간도
팻딘
피어밴드
허프
비야누에바
린드블럼
보우덴
레나도
{'울프': 0, '아델만': 0, '팻딘': 0, '피노': 0, '어윈': 0, '험버': 0, '루카스': 0, '피가로': 0, '듀브론트': 0, '보니야': 0, '로저스': 0, '오간도': 0, '마야': 0, '다이아몬드': 0, '세든': 0, '맨쉽': 0, '어센시오': 0, '올슨': 0, '웹스터': 0, '레온': 0, '레이예스': 0, '보우덴': 0, '코프랜드': 0, '린드블럼': 0, '레나도': 0, '탈보트': 0, '토마스': 0, '헤일': 0, '코엘로': 0, '클로이드': 0, '스틴슨': 0, '윌슨': 0, '웨버': 0, '오설리반': 0, '서캠프': 0, '레일리': 0, '피어밴드': 0, '브리검': 0, '니퍼트': 0, '휠러': 0, '헥터': 0, '마리몬': 0, '티포드': 0, '소사': 0, '플란데': 0, '밴덴헐크': 0, '리즈': 0, '후랭코프': 0, '해커': 0, '아담': 0, '이브랜드': 0, '지크': 0, '샘슨': 0, '비야누에바': 0, '스와잭': 0, '카스티요': 0, '산체스': 0, '베렛': 0, '앨버스': 0, '허프': 0, '에반': 0, '볼스테드': 0}
2018
후랭코프
린드블럼
샘슨
헥터
레일리
브리검
소사
윌슨
산체스
아델만
니퍼트
피어밴드
보니야
팻딘
듀브론트
베렛
로저스
해커

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=87.0.4280.88)

In [55]:
name_dict_18

{'울프': 0,
 '아델만': ['8', '12'],
 '팻딘': ['6', '7'],
 '피노': 0,
 '어윈': 0,
 '험버': 0,
 '루카스': 0,
 '피가로': 0,
 '듀브론트': ['6', '9'],
 '보니야': ['7', '10'],
 '로저스': ['5', '4'],
 '오간도': 0,
 '마야': 0,
 '다이아몬드': 0,
 '세든': 0,
 '맨쉽': 0,
 '어센시오': 0,
 '올슨': 0,
 '웹스터': 0,
 '레온': 0,
 '레이예스': 0,
 '보우덴': 0,
 '코프랜드': 0,
 '린드블럼': ['15', '4'],
 '레나도': 0,
 '탈보트': 0,
 '토마스': 0,
 '헤일': 0,
 '코엘로': 0,
 '클로이드': 0,
 '스틴슨': 0,
 '윌슨': ['9', '4'],
 '웨버': 0,
 '오설리반': 0,
 '서캠프': 0,
 '레일리': ['11', '13'],
 '피어밴드': ['8', '8'],
 '브리검': ['11', '7'],
 '니퍼트': ['8', '8'],
 '휠러': 0,
 '헥터': ['11', '10'],
 '마리몬': 0,
 '티포드': 0,
 '소사': ['9', '9'],
 '플란데': 0,
 '밴덴헐크': 0,
 '리즈': 0,
 '후랭코프': ['18', '3'],
 '해커': ['5', '3'],
 '아담': 0,
 '이브랜드': 0,
 '지크': 0,
 '샘슨': ['13', '8'],
 '비야누에바': 0,
 '스와잭': 0,
 '카스티요': 0,
 '산체스': ['8', '8'],
 '베렛': ['6', '10'],
 '앨버스': 0,
 '허프': 0,
 '에반': 0,
 '볼스테드': 0}

In [59]:
import numpy as np
# 딕셔너리랑 df랑 합치기
for dic,year in zip(dic_list, year_list):
    for i in range(외국인역대성적.shape[0]):
        if 외국인역대성적.loc[i,'year'] == year:
            print(year)
            for key,value in dic.items():
                if 외국인역대성적.loc[i,'pitcher_name'] == key:
                    if value != 0:
                        print(key, value)
                        print(value)
                        print(' '.join(value))
                        외국인역대성적.loc[i,'2011년_승_패'] = str(' '.join(value))
                    else:
                        외국인역대성적.loc[i,'2011년_승_패'] = 0

2011
니퍼트 ['15', '6']
['15', '6']
15 6
2011
리즈 ['11', '13']
['11', '13']
11 13
2012
니퍼트 ['11', '10']
['11', '10']
11 10
2012
리즈 ['5', '12']
['5', '12']
5 12
2012
소사 ['9', '8']
['9', '8']
9 8
2012
탈보트 ['14', '3']
['14', '3']
14 3
2013
니퍼트 ['12', '4']
['12', '4']
12 4
2013
레이예스 ['8', '13']
['8', '13']
8 13
2013
리즈 ['10', '13']
['10', '13']
10 13
2013
밴덴헐크 ['7', '9']
['7', '9']
7 9
2013
세든 ['14', '6']
['14', '6']
14 6
2013
소사 ['9', '9']
['9', '9']
9 9
2013
아담 ['4', '8']
['4', '8']
4 8
2013
올슨 ['1', '1']
['1', '1']
1 1
2013
이브랜드 ['6', '14']
['6', '14']
6 14
2013
2014
니퍼트 ['14', '7']
['14', '7']
14 7
2014
레이예스 ['2', '7']
['2', '7']
2 7
2014
마야 ['2', '4']
['2', '4']
2 4
2014
밴덴헐크 ['13', '4']
['13', '4']
13 4
2014
볼스테드 ['5', '7']
['5', '7']
5 7
2014
소사 ['10', '2']
['10', '2']
10 2
2014
앨버스 ['6', '13']
['6', '13']
6 13
2014
어센시오 ['4', '1']
['4', '1']
4 1
2014
울프 ['2', '2']
['2', '2']
2 2
2014
웨버 ['9', '6']
['9', '6']
9 6
2014
토마스 ['2', '2']
['2', '2']
2 2
2014
티포드 ['5', '6']
['5', '6']
5 6
2014
2015
니퍼트 ['6', '5']
['6', '5']
6 5
2015
레일리 ['11', '9']
['11', '9']
11 9
2015
로저스 ['6', '2']
['6', '2']
6 2
2015
루카스 ['10', '11']
['10', '11']
10 11
2015
린드블럼 ['13', '11']
['13', '11']
13 11
2015
마야 ['2', '5']
['2', '5']
2 5
2015
세든 ['7', '5']
['7', '5']
7 5
2015
소사 ['10', '12']
['10', '12']
10 12
2015
스와잭 ['5', '7']
['5', '7']
5 7
2015
스틴슨 ['11', '10']
['11', '10']
11 10
2015
어윈 ['1', '7']
['1', '7']
1 7
2015
에반 ['4', '0']
['4', '0']
4 0
2015
클로이드 ['11', '11']
['11', '11']
11 11
2015
탈보트 ['10', '11']
['10', '11']
10 11
2015
피가로 ['13', '7']
['13', '7']
13 7
2015
피어밴드 ['13', '11']
['13', '11']
13 11
2015
해커 ['19', '5']
['19', '5']
19 5
2015
험버 ['3', '3']
['3', '3']
3 3
2016
니퍼트 ['22', '3']
['22', '3']
22 3
2016
2016
레일리 ['8', '10']
['8', '10']
8 10
2016
로저스 ['2', '3']
['2', '3']
2 3
2016
린드블럼 ['10', '13']
['10', '13']
10 13
2016
마리몬 ['6', '4']
['6', '4']
6 4
2016
보우덴 ['18', '7']
['18', '7']
18 7
2016
서캠프 ['2', '5']
['2', '5']
2 5
2016
세든 ['5', '5']
['5', '5']
5 5
2016
소사 ['10', '9']
['10', '9']
10 9
2016
웹스터 ['4', '4']
['4', '4']
4 4
2016
지크 ['10', '13']
['10', '13']
10 13
2016
카스티요 ['7', '4']
['7', '4']
7 4
2016
코엘로 ['6', '5']
['6', '5']
6 5
2016
코프랜드 ['2', '3']
['2', '3']
2 3
2016
플란데 ['2', '6']
['2', '6']
2 6
2016
피노 ['2', '3']
['2', '3']
2 3
2016
피어밴드 ['7', '13']
['7', '13']
7 13
2016
해커 ['13', '3']
['13', '3']
13 3
2016
허프 ['7', '2']
['7', '2']
7 2
2016
헥터 ['15', '5']
['15', '5']
15 5
2017
니퍼트 ['14', '8']
['14', '8']
14 8
2017
다이아몬드 ['10', '7']
['10', '7']
10 7
2017
레나도 ['2', '3']
['2', '3']
2 3
2017
레일리 ['13', '7']
['13', '7']
13 7
2017
린드블럼 ['5', '3']
['5', '3']
5 3
2017
맨쉽 ['12', '4']
['12', '4']
12 4
2017
보우덴 ['3', '5']
['3', '5']
3 5
2017
브리검 ['10', '6']
['10', '6']
10 6
2017
비야누에바 ['5', '7']
['5', '7']
5 7
2017
소사 ['11', '11']
['11', '11']
11 11
2017
오간도 ['10', '5']
['10', '5']
10 5
2017
2017
팻딘 ['9', '7']
['9', '7']
9 7
2017
피어밴드 ['8', '10']
['8', '10']
8 10
2017
해커 ['12', '7']
['12', '7']
12 7
2017
허프 ['6', '4']
['6', '4']
6 4
2017
헥터 ['20', '5']
['20', '5']
20 5
2018
니퍼트 ['8', '8']
['8', '8']
8 8
2018
듀브론트 ['6', '9']
['6', '9']
6 9
2018
레일리 ['11', '13']
['11', '13']
11 13
2018
로저스 ['5', '4']
['5', '4']
5 4
2018
린드블럼 ['15', '4']
['15', '4']
15 4
2018
베렛 ['6', '10']
['6', '10']
6 10
2018
보니야 ['7', '10']
['7', '10']
7 10
2018
브리검 ['11', '7']
['11', '7']
11 7
2018
샘슨 ['13', '8']
['13', '8']
13 8
2018
소사 ['9', '9']
['9', '9']
9 9
2018
아델만 ['8', '12']
['8', '12']
8 12
2018
팻딘 ['6', '7']
['6', '7']
6 7
2018
피어밴드 ['8', '8']
['8', '8']
8 8
2018
해커 ['5', '3']
['5', '3']
5 3
2018
헥터 ['11', '10']
['11', '10']
11 10
2018
후랭코프 ['18', '3']
['18', '3']
18 3
2018
2018
산체스 ['8', '8']
['8', '8']
8 8
2018
윌슨 ['9', '4']
['9', '4']
9 4
2018

In [60]:
외국인역대성적

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,2011년_승_패
0,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15 6
1,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11 10
2,니퍼트,2013,두산,3.58,482,108,7,34,4,104,NaN,12 4
3,니퍼트,2014,두산,3.81,760,186,17,48,6,158,NaN,14 7
4,니퍼트,2015,두산,5.10,404,104,4,33,4,76,NaN,6 5
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22 3
6,니퍼트,2017,두산,4.06,782,175,20,77,10,161,NaN,14 8
7,니퍼트,2018,KT,4.25,765,209,26,39,9,165,NaN,8 8
8,다이아몬드,2017,SK,4.42,581,163,11,35,9,59,NaN,10 7
9,듀브론트,2018,롯데,4.92,629,162,13,62,8,109,NaN,6 9
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2 3
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0
12,레이예스,2013,SK,4.84,751,157,15,91,7,135,NaN,8 13
13,레이예스,2014,SK,6.55,369,103,10,38,3,41,NaN,2 7
14,레일리,2015,롯데,3.91,768,182,20,57,15,134,1988년 06월 29일,11 9
15,레일리,2016,롯데,4.34,808,207,21,51,17,147,1988년 06월 29일,8 10
16,레일리,2017,롯데,3.80,798,199,19,44,17,156,1988년 06월 29일,13 7
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11 13
18,로저스,2015,한화,2.97,296,62,2,20,4,60,NaN,6 2
19,로저스,2016,한화,4.30,160,42,3,12,2,24,NaN,2 3
20,로저스,2018,넥센,3.80,345,89,7,16,5,65,NaN,5 4
21,루카스,2015,LG,4.93,785,175,11,108,14,151,NaN,10 11
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11 13
23,리즈,2012,LG,3.69,656,138,6,68,9,144,NaN,5 12
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10 13
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13 11
26,린드블럼,2016,롯데,5.28,791,197,28,77,9,148,1987년 06월 15일,10 13
27,린드블럼,2017,롯데,3.72,296,66,10,18,2,76,1987년 06월 15일,5 3
28,린드블럼,2018,두산,2.88,681,142,16,38,8,157,1987년 06월 15일,15 4
29,마리몬,2016,KT,5.23,275,60,3,29,6,45,NaN,6 4
...,...,...,...,...,...,...,...,...,...,...,...,...
75,탈보트,2012,삼성,3.97,584,136,8,54,5,68,NaN,14 3
76,탈보트,2015,한화,4.72,695,153,11,85,13,120,NaN,10 11
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2 2
78,티포드,2014,LG,5.24,455,105,9,51,6,85,NaN,5 6
79,팻딘,2017,KIA,4.14,770,211,22,39,16,143,NaN,9 7
80,팻딘,2018,KIA,6.26,588,174,23,27,4,101,NaN,6 7
81,플란데,2016,삼성,7.60,330,92,13,33,1,56,NaN,2 6
82,피가로,2015,삼성,3.38,688,154,16,51,7,117,NaN,13 7
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2 3
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13 11
85,피어밴드,2016,KT,4.45,803,231,23,48,10,144,NaN,7 13
86,피어밴드,2017,KT,3.04,657,153,20,31,7,132,NaN,8 10
87,피어밴드,2018,KT,4.30,707,186,24,38,6,141,NaN,8 8
88,해커,2013,NC,3.63,744,163,12,50,17,127,NaN,0
89,해커,2014,NC,4.01,749,169,14,62,14,112,NaN,0
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19 5
91,해커,2016,NC,3.45,587,132,14,31,10,119,NaN,13 3
92,해커,2017,NC,3.42,672,159,14,29,14,97,NaN,12 7
93,해커,2018,넥센,5.20,349,86,16,30,5,56,NaN,5 3
94,허프,2016,LG,3.13,299,72,2,9,1,46,NaN,7 2
95,허프,2017,LG,2.38,490,100,7,14,2,98,NaN,6 4
96,험버,2015,KIA,6.75,244,62,11,32,5,35,NaN,3 3
97,헥터,2016,KIA,3.40,868,211,7,51,6,139,NaN,15 5
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20 5
99,헥터,2018,KIA,4.60,753,209,25,36,4,137,NaN,11 10
100,후랭코프,2018,두산,3.74,621,118,12,55,22,134,1988년 08월 27일,18 3
101,휠러,2018,한화,5.13,459,128,12,34,10,94,NaN,0
102,산체스,2018,SK,4.89,632,161,26,39,7,124,1989년 11월 28일,8 8
103,윌슨,2018,LG,3.07,689,158,11,35,6,149,1989년 09월 25일,9 4
104,헤일,2018,한화,4.34,277,68,8,17,4,55,NaN,0