In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018.csv')
외국인메이저성적 = pd.read_csv('fangraphs_foreigners_2011_2018.csv')
외국인스탯캐스터 = pd.read_csv('baseball_savant_foreigners_2011_2018.csv')
신규외국인성적 = pd.read_csv('fangraphs_foreigners_2019.csv')
신규외국인스텟캐스터 = pd.read_csv('baseball_savant_foreigners_2019.csv')

In [9]:
display(외국인역대성적.head())
print('*'*50)
display(외국인메이저성적.head())
print('*'*50)
display(외국인스탯캐스터.head())
print('*'*50)
display(신규외국인성적.head())
print('*'*50)
display(신규외국인스텟캐스터.head())
print('*'*50)

  pitcher_name  year team   ERA  TBF    H  HR  BB  HBP   SO year_born
0          니퍼트  2011   두산  2.55  763  150   8  64   10  150       NaN
1          니퍼트  2012   두산  3.20  785  156  15  68    8  126       NaN
2          니퍼트  2013   두산  3.58  482  108   7  34    4  104       NaN
3          니퍼트  2014   두산  3.81  760  186  17  48    6  158       NaN
4          니퍼트  2015   두산  5.10  404  104   4  33    4   76       NaN

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,오간도,2011.0,3.51,3.3,693.0,149.0,16.0,43.0,7.0,126.0,1.14,0.265,3.65,0.237,0.364,0.674,0.147,0.090,0.475
1,험버,2011.0,3.75,3.2,676.0,151.0,14.0,41.0,6.0,116.0,1.18,0.275,3.58,0.168,0.471,0.458,0.094,0.092,0.463
2,루카스,2012.0,3.76,2.8,827.0,185.0,13.0,78.0,1.0,140.0,1.36,0.289,3.75,0.203,0.572,0.707,0.082,0.062,0.424
3,다이아몬드,2012.0,3.54,2.2,714.0,184.0,17.0,31.0,4.0,90.0,1.24,0.292,3.94,0.210,0.534,0.597,0.040,0.068,0.467
4,듀브론트,2013.0,4.32,2.2,705.0,161.0,13.0,71.0,5.0,139.0,1.43,0.310,3.78,0.199,0.456,0.633,0.127,0.077,0.434

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2010-10-09,93.0,425834.0,430962,field_out,hit_into_play,4.0,R,R,popup,...,-0.626,2.771,-6.404,26.077,-9.694,NaN,NaN,NaN,4-Seam Fastball,니퍼트
1,2010-10-09,95.2,150289.0,430962,home_run,hit_into_play_score,5.0,L,R,fly_ball,...,-0.112,2.401,-10.168,28.786,-8.895,NaN,NaN,NaN,4-Seam Fastball,니퍼트
2,2010-10-09,94.3,150289.0,430962,NaN,foul,2.0,L,R,NaN,...,0.272,3.052,-5.605,26.657,-7.794,NaN,NaN,NaN,4-Seam Fastball,니퍼트
3,2010-10-09,94.0,150289.0,430962,NaN,blocked_ball,13.0,L,R,NaN,...,-1.193,0.632,-9.099,30.273,-6.371,NaN,NaN,NaN,4-Seam Fastball,니퍼트
4,2010-10-09,92.8,150289.0,430962,NaN,ball,14.0,L,R,NaN,...,0.370,1.383,-5.846,27.290,-11.262,NaN,NaN,NaN,4-Seam Fastball,니퍼트

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,버틀러,2017.0,3.95,0.6,237.0,50.0,4.0,28.0,2.0,30.0,1.43,0.266,4.66,0.224,0.443,0.661,0.138,0.072,0.465
1,터너,2014.0,6.13,0.5,501.0,148.0,12.0,33.0,1.0,71.0,1.60,0.354,4.16,0.208,0.491,0.636,0.052,0.080,0.461
2,터너,2013.0,3.74,0.3,514.0,116.0,11.0,54.0,4.0,77.0,1.44,0.285,4.43,0.195,0.457,0.675,0.047,0.083,0.454
3,맥과이어,2017.0,2.63,0.3,56.0,10.0,1.0,2.0,1.0,11.0,0.88,0.220,3.16,0.119,0.286,0.638,0.080,0.095,0.448
4,터너,2012.0,4.42,0.2,231.0,50.0,9.0,16.0,0.0,36.0,1.20,0.241,4.79,0.192,0.452,0.566,0.079,0.096,0.454

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2018-05-03,85.4,519058,518445,sac_fly,hit_into_play_score,13.0,L,L,fly_ball,...,-0.9200,2.0320,-6.1015,22.5146,-29.0091,90.4,26.0,2305.0,Cutter,채드벨
1,2018-05-03,91.7,519058,518445,NaN,foul,12.0,L,L,NaN,...,0.4845,3.5506,6.7067,29.5849,-15.5999,72.7,14.0,2265.0,4-Seam Fastball,채드벨
2,2018-05-03,86.1,519058,518445,NaN,foul,13.0,L,L,NaN,...,-1.4736,1.6516,-5.7169,25.0563,-27.4184,NaN,NaN,2379.0,Cutter,채드벨
3,2018-05-03,85.3,519058,518445,NaN,ball,11.0,L,L,NaN,...,-1.5007,2.5166,-2.7315,24.9668,-30.5457,NaN,NaN,2284.0,Cutter,채드벨
4,2018-05-03,83.3,519058,518445,NaN,swinging_strike,12.0,L,L,NaN,...,0.3519,3.5876,-3.3883,24.6765,-32.2025,NaN,NaN,2332.0,Slider,채드벨

**************************************************

# 외국인 투수 승패 크롤링

In [3]:
name_list = list(set(외국인역대성적['pitcher_name']))

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [109]:
from selenium import webdriver
import time
path = './driver/chromedriver.exe'
driver = webdriver.Chrome(path)

In [161]:
def page_search(start,end,dic):
    for page_num in range(start,end):
        print(page_num)
        page3 = driver.find_elements_by_css_selector('.paging')
        page3[0].find_elements_by_tag_name('a')[page_num].click()
        time.sleep(1.5)
        page2 = driver.find_elements_by_css_selector('.tData01')
        a = page2[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
        for idx,value in enumerate(a):
            name = value.find_elements_by_tag_name('td')[1].text
            for key in list(dic.keys()):
                if key == name:
                    print(name)
                    dic[key] = [str(value.find_elements_by_tag_name('td')[5].text), 
                                str(value.find_elements_by_tag_name('td')[6].text)]

In [162]:
def player_win(year,dic):
    driver.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
    page1 = driver.find_elements_by_tag_name('option')
    for i in page1:
            if i.text == str(year):
                print(year)
                i.click()
                time.sleep(1.5)
                page = driver.find_elements_by_css_selector('.tData01')
                k = page[0].find_element_by_tag_name('thead').find_element_by_tag_name('tr').find_elements_by_tag_name('th')
                k[5].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                page_search(1,6,dic)
                page3 = driver.find_elements_by_css_selector('.paging')
                page3[0].find_elements_by_tag_name('a')[-1].click()
                time.sleep(1.5)
                page3 = driver.find_elements_by_css_selector('.paging')
                page_num = len(page3[0].find_elements_by_tag_name('a')[2:-1])
                print(page_num)
                page_search(2,page_num+2,dic)
                break
    return    dic

In [163]:
names=[]
def setName(cnt):
    global names
    for i in range (11,cnt+1):
        names.append('name_dict_{}'.format(i)) 
    for name1 in names:
        globals()[name1] = {}
        for i2 in name_list:
            globals()[name1][i2] = 0
setName(18)

In [164]:
year_list = [i for i in range(2011,2019)]

In [165]:
def save(dic_list, year_list):
    for dic,year in zip(dic_list, year_list):
        print(dic)
        dic = player_win(year,eval(dic))

In [166]:
save(names, year_list)

name_dict_11
2011
1
니퍼트
리즈
2
3
4
5
2
2
3
name_dict_12
2012
1
탈보트
니퍼트
소사
2
리즈
3
4
5
2
2
3
name_dict_13
2013
1
세든
니퍼트
리즈
소사
레이예스
밴덴헐크
2
이브랜드
3
아담
4
올슨
5
2
2
3
name_dict_14
2014
1
니퍼트
밴덴헐크
소사
웨버
2
앨버스
볼스테드
티포드
어센시오
3
마야
레이예스
울프
4
토마스
5
2
2
3
name_dict_15
2015
1
해커
피가로
피어밴드
린드블럼
클로이드
레일리
스틴슨
루카스
소사
탈보트
2
세든
니퍼트
로저스
스와잭
3
에반
험버
4
마야
5
어윈
4
2
3
4
5
name_dict_16
2016
1
니퍼트
보우덴
헥터
해커
지크
린드블럼
소사
레일리
카스티요
2
허프
피어밴드
코엘로
마리몬
세든
3
웹스터
4
플란데
로저스
서캠프
코프랜드
5
피노
4
2
레온
3
4
5
name_dict_17
2017
1
헥터
니퍼트
레일리
맨쉽
해커
소사
브리검
다이아몬드
오간도
팻딘
2
피어밴드
허프
비야누에바
3
린드블럼
보우덴
4
레나도
5
3
2
오설리반
3
4
name_dict_18
2018
1
후랭코프
린드블럼
샘슨
헥터
레일리
브리검
소사
윌슨
산체스
아델만
니퍼트
2
피어밴드
보니야
팻딘
듀브론트
베렛
로저스
해커
3
헤일
4
휠러
5
4
2
3
4
5

In [172]:
name_dict_13['해커'] = ['4','11']
name_dict_14['해커'] = ['8','8']

In [173]:
import numpy as np
# 딕셔너리랑 df랑 합치기
for dic,year in zip(names, year_list):
    for i in range(외국인역대성적.shape[0]):
        if 외국인역대성적.loc[i,'year'] == year:
            print(year)
            for key,value in eval(dic).items():
                if 외국인역대성적.loc[i,'pitcher_name'] == key:
                    if value != 0:
                        print(key, value)
                        외국인역대성적.loc[i,'2011년_승_패'] = str(' '.join(value))
                    else:
                        외국인역대성적.loc[i,'2011년_승_패'] = 0

2011
니퍼트 ['15', '6']
2011
리즈 ['11', '13']
2012
니퍼트 ['11', '10']
2012
리즈 ['5', '12']
2012
소사 ['9', '8']
2012
탈보트 ['14', '3']
2013
니퍼트 ['12', '4']
2013
레이예스 ['8', '13']
2013
리즈 ['10', '13']
2013
밴덴헐크 ['7', '9']
2013
세든 ['14', '6']
2013
소사 ['9', '9']
2013
아담 ['4', '8']
2013
올슨 ['1', '1']
2013
이브랜드 ['6', '14']
2013
해커 ['4', '11']
2014
니퍼트 ['14', '7']
2014
레이예스 ['2', '7']
2014
마야 ['2', '4']
2014
밴덴헐크 ['13', '4']
2014
볼스테드 ['5', '7']
2014
소사 ['10', '2']
2014
앨버스 ['6', '13']
2014
어센시오 ['4', '1']
2014
울프 ['2', '2']
2014
웨버 ['9', '6']
2014
토마스 ['2', '2']
2014
티포드 ['5', '6']
2014
해커 ['8', '8']
2015
니퍼트 ['6', '5']
2015
레일리 ['11', '9']
2015
로저스 ['6', '2']
2015
루카스 ['10', '11']
2015
린드블럼 ['13', '11']
2015
마야 ['2', '5']
2015
세든 ['7', '5']
2015
소사 ['10', '12']
2015
스와잭 ['5', '7']
2015
스틴슨 ['11', '10']
2015
어윈 ['1', '7']
2015
에반 ['4', '0']
2015
클로이드 ['11', '11']
2015
탈보트 ['10', '11']
2015
피가로 ['13', '7']
2015
피어밴드 ['13', '11']
2015
해커 ['19', '5']
2015
험버 ['3', '3']
2016
니퍼트 ['22', '3']
2016
레온 ['0', '1']
2016
레일리 ['8', '10']
2016
로저스 ['2', '3']
2016
린드블럼 ['10', '13']
2016
마리몬 ['6', '4']
2016
보우덴 ['18', '7']
2016
서캠프 ['2', '5']
2016
세든 ['5', '5']
2016
소사 ['10', '9']
2016
웹스터 ['4', '4']
2016
지크 ['10', '13']
2016
카스티요 ['7', '4']
2016
코엘로 ['6', '5']
2016
코프랜드 ['2', '3']
2016
플란데 ['2', '6']
2016
피노 ['2', '3']
2016
피어밴드 ['7', '13']
2016
해커 ['13', '3']
2016
허프 ['7', '2']
2016
헥터 ['15', '5']
2017
니퍼트 ['14', '8']
2017
다이아몬드 ['10', '7']
2017
레나도 ['2', '3']
2017
레일리 ['13', '7']
2017
린드블럼 ['5', '3']
2017
맨쉽 ['12', '4']
2017
보우덴 ['3', '5']
2017
브리검 ['10', '6']
2017
비야누에바 ['5', '7']
2017
소사 ['11', '11']
2017
오간도 ['10', '5']
2017
오설리반 ['0', '2']
2017
팻딘 ['9', '7']
2017
피어밴드 ['8', '10']
2017
해커 ['12', '7']
2017
허프 ['6', '4']
2017
헥터 ['20', '5']
2018
니퍼트 ['8', '8']
2018
듀브론트 ['6', '9']
2018
레일리 ['11', '13']
2018
로저스 ['5', '4']
2018
린드블럼 ['15', '4']
2018
베렛 ['6', '10']
2018
보니야 ['7', '10']
2018
브리검 ['11', '7']
2018
샘슨 ['13', '8']
2018
소사 ['9', '9']
2018
아델만 ['8', '12']
2018
팻딘 ['6', '7']
2018
피어밴드 ['8', '8']
2018
해커 ['5', '3']
2018
헥터 ['11', '10']
2018
후랭코프 ['18', '3']
2018
휠러 ['3', '9']
2018
산체스 ['8', '8']
2018
윌슨 ['9', '4']
2018
헤일 ['3', '4']

In [174]:
외국인역대성적.to_csv('kbo_yearly_foreigners_2011_2018_추가분.csv',mode='w',index=False,encoding='utf-8-sig')

In [175]:
외국인역대성적[외국인역대성적['2011년_승_패'] == 0]

Empty DataFrame
Columns: [pitcher_name, year, team, ERA, TBF, H, HR, BB, HBP, SO, year_born, 2011년_승_패]
Index: []

In [3]:
외국인역대성적['승'] = 외국인역대성적['2011년_승_패'].apply(lambda x:str(x).split(' ')[0])
외국인역대성적['패'] = 외국인역대성적['2011년_승_패'].apply(lambda x:str(x).split(' ')[1])

외국인역대성적.drop('2011년_승_패',axis=1,inplace=True)

def winratio(x):
    return round(int(x['승']) / (int(x['승'])+int(x['패'])),3)

외국인역대성적['승률'] = 외국인역대성적.apply(lambda x:winratio(x),axis=1)

외국인역대성적['경기수'] =  외국인역대성적.apply(lambda x:int(x['승']) + int(x['패']),axis=1)

In [5]:
외국인역대성적.to_csv('plus_win_lose.csv',mode='w',index=False,encoding='utf-8-sig')

In [8]:
def headtail10(df,text):
    display(df.sort_values(text,ascending=False).head(10))
    print('*'*20,'head','*'*20)
    display(df.sort_values(text,ascending=False).tail(10))

In [81]:
headtail10(외국인역대성적,['경기수','승률'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
37,보우덴,2016,두산,3.80,742,159,17,54,6,160,NaN,18,7,0.720,25
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13,11,0.542,24
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13,11,0.542,24
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11,13,0.458,24
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11,13,0.458,24
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10,13,0.435,23
26,린드블럼,2016,롯데,5.28,791,197,28,77,9,148,1987년 06월 15일,10,13,0.435,23

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2,3,0.4,5
19,로저스,2016,한화,4.30,160,42,3,12,2,24,NaN,2,3,0.4,5
73,코프랜드,2016,LG,5.54,314,71,8,42,7,34,NaN,2,3,0.4,5
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2,3,0.4,5
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.0,4
66,울프,2014,SK,4.85,364,88,10,27,6,41,NaN,2,2,0.5,4
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2,2,0.5,4
65,올슨,2013,두산,6.52,180,41,2,27,5,35,NaN,1,1,0.5,2
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.0,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.0,1

In [82]:
headtail10(외국인역대성적,['승률','경기수'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.000,4
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
100,후랭코프,2018,두산,3.74,621,118,12,55,22,134,1988년 08월 27일,18,3,0.857,21
50,소사,2014,넥센,4.61,537,140,18,45,3,98,NaN,10,2,0.833,12
75,탈보트,2012,삼성,3.97,584,136,8,54,5,68,NaN,14,3,0.824,17
91,해커,2016,NC,3.45,587,132,14,31,10,119,NaN,13,3,0.812,16
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
60,어센시오,2014,KIA,4.05,207,49,5,14,2,56,NaN,4,1,0.800,5
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
28,린드블럼,2018,두산,2.88,681,142,16,38,8,157,1987년 06월 15일,15,4,0.789,19

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
23,리즈,2012,LG,3.69,656,138,6,68,9,144,NaN,5,12,0.294,17
31,마야,2015,두산,8.17,317,83,6,31,5,62,NaN,2,5,0.286,7
44,서캠프,2016,한화,6.31,194,54,5,17,5,36,NaN,2,5,0.286,7
88,해커,2013,NC,3.63,744,163,12,50,17,127,NaN,4,11,0.267,15
101,휠러,2018,한화,5.13,459,128,12,34,10,94,NaN,3,9,0.250,12
81,플란데,2016,삼성,7.60,330,92,13,33,1,56,NaN,2,6,0.250,8
13,레이예스,2014,SK,6.55,369,103,10,38,3,41,NaN,2,7,0.222,9
61,어윈,2015,KT,8.68,271,90,10,21,2,41,NaN,1,7,0.125,8
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.000,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.000,1

In [9]:
headtail10(외국인역대성적,['경기수'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
37,보우덴,2016,두산,3.80,742,159,17,54,6,160,NaN,18,7,0.720,25
98,헥터,2017,KIA,3.48,854,221,21,45,5,149,NaN,20,5,0.800,25
5,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25
22,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11,13,0.458,24
84,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13,11,0.542,24
25,린드블럼,2015,롯데,3.56,861,196,28,52,12,180,1987년 06월 15일,13,11,0.542,24
90,해커,2015,NC,3.13,833,174,14,36,25,164,NaN,19,5,0.792,24
17,레일리,2018,롯데,4.74,775,180,24,54,18,178,1988년 06월 29일,11,13,0.458,24
24,리즈,2013,LG,3.06,837,153,11,88,20,188,NaN,10,13,0.435,23
70,지크,2016,KIA,5.27,705,188,16,68,5,125,NaN,10,13,0.435,23

******************** head ********************

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수
83,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2,3,0.4,5
60,어센시오,2014,KIA,4.05,207,49,5,14,2,56,NaN,4,1,0.8,5
10,레나도,2017,삼성,6.80,243,70,11,27,6,28,NaN,2,3,0.4,5
73,코프랜드,2016,LG,5.54,314,71,8,42,7,34,NaN,2,3,0.4,5
62,에반,2015,KIA,4.44,115,30,0,13,1,25,NaN,4,0,1.0,4
66,울프,2014,SK,4.85,364,88,10,27,6,41,NaN,2,2,0.5,4
77,토마스,2014,KIA,4.44,210,55,3,19,1,51,NaN,2,2,0.5,4
64,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.0,2
65,올슨,2013,두산,6.52,180,41,2,27,5,35,NaN,1,1,0.5,2
11,레온,2016,삼성,11.25,40,16,2,1,1,7,NaN,0,1,0.0,1

In [ ]:
# 여기서 퇴출된 선수 명단을 삭제하자.

In [3]:
throw_df = pd.read_csv('plus_win_lose_2.csv')
throw_df.head()

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수,방출연도
0,리즈,2011,LG,3.88,719,149,11,84,15,122,NaN,11,13,0.458,24,NaN
1,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15,6,0.714,21,NaN
2,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11,10,0.524,21,NaN
3,리즈,2012,LG,3.69,656,138,6,68,9,144,NaN,5,12,0.294,17,NaN
4,소사,2012,KIA,3.54,614,137,9,39,8,104,NaN,9,8,0.529,17,NaN

In [4]:
throw_df_01 =  throw_df[throw_df['방출연도'].isnull() == False].reset_index(drop=True)
throw_df_01['방출연도'] = throw_df_01['방출연도'].astype(int)

In [6]:
throw_df_01.describe()

,year,ERA,TBF,H,HR,BB,HBP,SO,승,패,승률,경기수,방출연도
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,2015.764706,6.465294,335.294118,87.294118,8.411765,32.529412,5.058824,53.352941,3.882353,5.235294,0.396647,9.117647,2015.823529
std,1.437420,2.745130,168.648957,45.153578,5.038090,15.914293,3.071453,32.779455,3.038963,2.727852,0.167412,5.182692,1.424574
min,2013.000000,3.770000,43.000000,17.000000,2.000000,2.000000,1.000000,6.000000,0.000000,1.000000,0.000000,2.000000,2013.000000
25%,2015.000000,5.130000,271.000000,62.000000,6.000000,21.000000,3.000000,35.000000,2.000000,3.000000,0.286000,6.000000,2015.000000
50%,2016.000000,5.700000,314.000000,76.000000,8.000000,32.000000,5.000000,43.000000,3.000000,5.000000,0.417000,9.000000,2016.000000
75%,2016.000000,6.750000,369.000000,103.000000,10.000000,42.000000,7.000000,62.000000,5.000000,7.000000,0.500000,11.000000,2016.000000
max,2018.000000,15.750000,774.000000,202.000000,23.000000,62.000000,12.000000,137.000000,13.000000,11.000000,0.600000,24.000000,2018.000000

In [7]:
throw_df_01[throw_df_01['경기수'] >= 10].describe()

,year,ERA,TBF,H,HR,BB,HBP,SO,승,패,승률,경기수,방출연도
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,2016.142857,5.042857,443.000000,113.428571,10.428571,40.285714,6.571429,72.285714,6.285714,7.142857,0.464857,13.428571,2016.285714
std,1.463850,0.740061,195.324516,55.829673,6.502747,16.449056,3.994043,40.668228,3.147183,2.609506,0.118696,4.961759,1.380131
min,2014.000000,3.770000,271.000000,50.000000,3.000000,17.000000,1.000000,32.000000,3.000000,4.000000,0.250000,10.000000,2014.000000
25%,2015.500000,4.795000,279.000000,68.000000,7.000000,31.500000,4.000000,44.000000,5.000000,5.000000,0.408500,10.500000,2016.000000
50%,2016.000000,5.130000,410.000000,116.000000,8.000000,37.000000,7.000000,46.000000,6.000000,7.000000,0.500000,12.000000,2016.000000
75%,2017.000000,5.300000,544.000000,145.000000,12.500000,51.500000,9.000000,101.500000,6.000000,9.000000,0.543500,13.500000,2017.000000
max,2018.000000,6.210000,774.000000,202.000000,23.000000,62.000000,12.000000,137.000000,13.000000,11.000000,0.600000,24.000000,2018.000000

In [40]:
throw_df_01[throw_df_01['경기수'] < 10].describe()

,year,ERA,TBF,H,HR,BB,HBP,SO,승,패,승률,경기수,방출연도
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000
mean,2015.500000,7.461000,259.900000,69.000000,7.000000,27.100000,4.000000,40.100000,2.20000,3.900000,0.348900,6.100000,2015.500000
std,1.433721,3.218145,98.951672,25.368397,3.399346,13.795732,1.763834,18.266241,1.47573,1.969207,0.185151,2.601282,1.433721
min,2013.000000,3.800000,43.000000,17.000000,2.000000,2.000000,1.000000,6.000000,0.00000,1.000000,0.000000,2.000000,2013.000000
25%,2015.000000,5.905000,204.250000,62.000000,4.500000,17.250000,3.000000,34.250000,1.25000,3.000000,0.238000,5.000000,2015.000000
50%,2015.500000,6.650000,292.500000,71.500000,7.500000,29.000000,4.500000,38.000000,2.00000,3.500000,0.400000,6.500000,2015.500000
75%,2016.000000,7.915000,323.000000,87.500000,10.000000,36.500000,5.000000,54.500000,2.75000,4.750000,0.500000,8.000000,2016.000000
max,2018.000000,15.750000,369.000000,103.000000,11.000000,47.000000,7.000000,65.000000,5.00000,7.000000,0.556000,9.000000,2018.000000

In [4]:
playername = list(throw_df[throw_df['방출연도'].isnull() == False]['pitcher_name'])

In [6]:
throw_df[throw_df['pitcher_name'].isin(playername) == True].sort_values(['pitcher_name','year'])

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수,방출연도
98,듀브론트,2018,롯데,4.92,629,162,13,62,8,109,NaN,6,9,0.400,15,2018.0
7,레이예스,2013,SK,4.84,751,157,15,91,7,135,NaN,8,13,0.381,21,NaN
24,레이예스,2014,SK,6.55,369,103,10,38,3,41,NaN,2,7,0.222,9,2014.0
42,로저스,2015,한화,2.97,296,62,2,20,4,60,NaN,6,2,0.750,8,NaN
64,로저스,2016,한화,4.30,160,42,3,12,2,24,NaN,2,3,0.400,5,NaN
102,로저스,2018,넥센,3.80,345,89,7,16,5,65,NaN,5,4,0.556,9,2018.0
58,마리몬,2016,KT,5.23,275,60,3,29,6,45,NaN,6,4,0.600,10,2016.0
25,마야,2014,두산,4.86,278,67,6,24,4,54,NaN,2,4,0.333,6,NaN
44,마야,2015,두산,8.17,317,83,6,31,5,62,NaN,2,5,0.286,7,2015.0
21,볼스테드,2014,두산,6.21,410,116,8,37,7,32,NaN,5,7,0.417,12,2014.0
8,세든,2013,SK,2.98,780,169,14,73,11,160,NaN,14,6,0.700,20,NaN
39,세든,2015,SK,4.99,319,77,12,28,5,67,NaN,7,5,0.583,12,NaN
59,세든,2016,SK,5.37,283,76,8,17,1,43,NaN,5,5,0.500,10,2016.0
43,어윈,2015,KT,8.68,271,90,10,21,2,41,NaN,1,7,0.125,8,2015.0
84,오설리반,2017,넥센,15.75,43,17,2,2,1,6,NaN,0,2,0.000,2,2017.0
15,올슨,2013,두산,6.52,180,41,2,27,5,35,NaN,1,1,0.500,2,2013.0
61,웹스터,2016,삼성,5.70,325,72,10,47,3,59,NaN,4,4,0.500,8,2016.0
57,코엘로,2016,넥센,3.77,271,50,6,42,2,46,NaN,6,5,0.545,11,2016.0
65,코프랜드,2016,LG,5.54,314,71,8,42,7,34,NaN,2,3,0.400,5,2016.0
66,피노,2016,KT,7.15,191,62,4,15,4,23,NaN,2,3,0.400,5,2016.0
30,피어밴드,2015,넥센,4.67,774,202,23,61,12,137,NaN,13,11,0.542,24,2016.0
51,피어밴드,2016,KT,4.45,803,231,23,48,10,144,NaN,7,13,0.350,20,NaN
73,피어밴드,2017,KT,3.04,657,153,20,31,7,132,NaN,8,10,0.444,18,NaN
96,피어밴드,2018,KT,4.30,707,186,24,38,6,141,NaN,8,8,0.500,16,NaN
45,험버,2015,KIA,6.75,244,62,11,32,5,35,NaN,3,3,0.500,6,2015.0
101,휠러,2018,한화,5.13,459,128,12,34,10,94,NaN,3,9,0.250,12,2018.0

In [10]:
throw_df[throw_df['방출연도'].isnull() == True].reset_index(drop=True).describe()

,year,ERA,TBF,H,HR,BB,HBP,SO,승,패,승률,경기수,방출연도
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,0.0
mean,2015.556818,4.376023,602.193182,144.715909,13.715909,43.909091,8.193182,113.204545,8.965909,7.090909,0.547750,16.056818,NaN
std,1.917002,1.220536,208.129759,51.859215,6.619284,20.569275,5.214608,45.345458,4.442348,3.541661,0.171887,5.962253,NaN
min,2011.000000,2.380000,40.000000,16.000000,0.000000,1.000000,1.000000,7.000000,0.000000,0.000000,0.000000,1.000000,NaN
25%,2014.000000,3.617500,459.500000,107.500000,9.000000,30.000000,4.000000,73.500000,6.000000,4.000000,0.435000,12.000000,NaN
50%,2016.000000,4.215000,684.500000,153.500000,13.500000,39.000000,7.000000,123.500000,9.000000,7.000000,0.524000,17.000000,NaN
75%,2017.000000,4.937500,760.750000,188.000000,18.000000,54.250000,11.000000,148.250000,11.000000,10.000000,0.654250,21.000000,NaN
max,2018.000000,11.250000,870.000000,258.000000,28.000000,108.000000,25.000000,195.000000,22.000000,14.000000,1.000000,25.000000,NaN

In [11]:
외국인메이저성적[외국인메이저성적['pitcher_name'].isin(playername) == True].sort_values(['pitcher_name','year'])

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
56,듀브론트,2010.0,4.32,0.2,113.0,27.0,3.0,10.0,1.0,23.0,1.48,0.316,4.12,0.103,0.474,0.717,0.091,0.069,0.432
121,듀브론트,2011.0,6.10,-0.1,47.0,12.0,1.0,8.0,0.0,6.0,1.94,0.344,5.44,0.281,0.438,0.674,0.111,0.056,0.382
6,듀브론트,2012.0,4.86,1.3,709.0,162.0,24.0,71.0,5.0,167.0,1.45,0.312,4.37,0.234,0.437,0.635,0.086,0.096,0.442
4,듀브론트,2013.0,4.32,2.2,705.0,161.0,13.0,71.0,5.0,139.0,1.43,0.310,3.78,0.199,0.456,0.633,0.127,0.077,0.434
164,듀브론트,2014.0,5.54,-0.3,364.0,91.0,12.0,33.0,2.0,51.0,1.56,0.297,5.13,0.225,0.380,0.578,0.112,0.070,0.429
35,듀브론트,2015.0,5.50,0.4,328.0,87.0,10.0,26.0,1.0,56.0,1.50,0.328,4.45,0.189,0.471,0.556,0.099,0.097,0.452
134,레이예스,2010.0,24.30,-0.1,23.0,10.0,2.0,3.0,0.0,2.0,3.90,0.500,12.38,0.278,0.333,0.554,0.000,0.054,0.446
20,레이예스,2011.0,5.57,0.7,641.0,176.0,21.0,48.0,7.0,87.0,1.59,0.324,4.90,0.223,0.406,0.718,0.127,0.067,0.467
105,레이예스,2016.0,9.00,0.0,10.0,3.0,0.0,1.0,0.0,0.0,2.00,0.333,4.65,0.556,0.333,0.333,0.000,0.056,0.500
10,로저스,2010.0,6.13,1.2,333.0,94.0,5.0,26.0,5.0,66.0,1.67,0.385,3.44,0.211,0.522,0.635,0.081,0.097,0.452
176,로저스,2011.0,7.05,-0.4,404.0,110.0,14.0,47.0,6.0,63.0,1.89,0.350,5.62,0.224,0.423,0.596,0.071,0.072,0.459
14,로저스,2012.0,4.69,0.9,348.0,83.0,7.0,30.0,5.0,83.0,1.44,0.341,3.48,0.228,0.474,0.639,0.162,0.098,0.460
53,로저스,2013.0,4.77,0.2,598.0,152.0,21.0,44.0,6.0,96.0,1.42,0.304,4.73,0.232,0.472,0.589,0.053,0.072,0.430
137,로저스,2014.0,5.72,-0.2,202.0,50.0,8.0,17.0,2.0,44.0,1.47,0.321,4.73,0.199,0.375,0.547,0.052,0.090,0.445
114,로저스,2015.0,6.27,-0.1,153.0,41.0,5.0,14.0,2.0,31.0,1.67,0.356,4.68,0.255,0.425,0.568,0.147,0.102,0.484
95,마야,2010.0,5.88,0.0,118.0,30.0,3.0,11.0,2.0,12.0,1.58,0.300,5.16,0.231,0.330,0.490,0.075,0.066,0.440
82,마야,2011.0,5.23,0.0,142.0,40.0,3.0,10.0,2.0,15.0,1.53,0.330,4.40,0.284,0.422,0.619,0.031,0.044,0.461
11,볼스테드,2010.0,4.58,1.1,758.0,187.0,17.0,60.0,8.0,102.0,1.41,0.298,4.34,0.182,0.479,0.597,0.046,0.058,0.430
22,볼스테드,2011.0,4.89,0.7,719.0,187.0,23.0,49.0,1.0,117.0,1.42,0.310,4.32,0.200,0.523,0.590,0.034,0.080,0.434
109,볼스테드,2012.0,6.31,-0.1,507.0,137.0,16.0,43.0,3.0,61.0,1.62,0.315,5.11,0.227,0.492,0.597,0.092,0.065,0.447
129,볼스테드,2013.0,10.80,-0.1,47.0,19.0,1.0,1.0,2.0,3.0,2.40,0.450,4.97,0.268,0.415,0.670,0.000,0.055,0.492
86,볼스테드,2015.0,0.00,0.0,7.0,2.0,0.0,0.0,0.0,0.0,1.00,0.286,3.13,0.000,0.833,0.800,0.000,0.100,0.600
112,볼스테드,2017.0,4.66,-0.1,76.0,16.0,4.0,5.0,1.0,10.0,1.09,0.214,5.74,0.117,0.617,0.617,0.000,0.037,0.424
182,볼스테드,2018.0,6.27,-0.4,215.0,65.0,9.0,12.0,3.0,29.0,1.63,0.346,5.36,0.182,0.553,0.659,0.089,0.051,0.430
141,세든,2010.0,5.64,-0.2,95.0,21.0,4.0,10.0,0.0,16.0,1.39,0.262,5.32,0.159,0.478,0.618,0.120,0.096,0.442
48,세든,2012.0,3.67,0.3,147.0,35.0,2.0,13.0,0.0,18.0,1.40,0.289,3.94,0.250,0.414,0.585,0.154,0.095,0.467
72,어윈,2013.0,7.71,0.1,23.0,6.0,0.0,4.0,0.0,4.0,2.14,0.400,3.90,0.214,0.643,0.505,0.500,0.043,0.419
124,어윈,2014.0,6.75,-0.1,20.0,6.0,1.0,2.0,1.0,2.0,2.00,0.357,7.63,0.267,0.333,0.699,0.333,0.072,0.434
136,오설리반,2010.0,5.49,-0.2,368.0,90.0,15.0,31.0,1.0,43.0,1.45,0.270,5.53,0.170,0.408,0.567,0.115,0.060,0.414
199,오설리반,2011.0,7.25,-0.7,273.0,78.0,10.0,26.0,2.0,19.0,1.78,0.315,6.04,0.210,0.397,0.574,0.035,0.051,0.424
59,오설리반,2013.0,3.96,0.2,118.0,31.0,0.0,14.0,1.0,12.0,1.80,0.341,3.89,0.189,0.456,0.526,0.094,0.062,0.437
122,오설리반,2014.0,6.39,-0.1,52.0,15.0,3.0,2.0,0.0,7.0,1.34,0.300,5.58,0.220,0.390,0.563,0.063,0.073,0.521
200,오설리반,2015.0,6.08,-0.7,328.0,94.0,16.0,20.0,6.0,35.0,1.61,0.311,6.18,0.190,0.415,0.578,0.049,0.062,0.461
64,오설리반,2016.0,6.75,0.1,98.0,30.0,3.0,6.0,2.0,13.0,1.69,0.365,4.88,0.270,0.365,0.570,0.148,0.059,0.450
144,올슨,2010.0,4.54,-0.2,172.0,42.0,6.0,15.0,0.0,31.0,1.51,0.300,4.70,0.218,0.371,0.563,0.098,0.079,0.463
66,올슨,2011.0,2.08,0.1,21.0,2.0,0.0,3.0,0.0,4.0,1.15,0.143,3.26,0.077,0.462,0.686,0.167,0.118,0.471
191,웹스터,2013.0,8.60,-0.5,145.0,37.0,7.0,18.0,2.0,23.0,1.81,0.316,6.51,0.206,0.431,0.617,0.135,0.127,0.458
39,웹스터,2014.0,5.03,0.3,259.0,58.0,3.0,28.0,7.0,36.0,1.46,0.297,4.35,0.214,0.460,0.603,0.115,0.111,0.461
204,웹스터,2015.0,5.81,-0.9,142.0,32.0,10.0,20.0,2.0,17.0,1.68,0.237,8.36,0.149,0.465,0.626,0.154,0.101,0.460
113,웹스터,2018.0,6.00,-0.1,15.0,2.0,1.0,1.0,2.0,3.0,1.00,0.125,8.49,0.222,0.333,0.327,0.250,0.182,0.527
70,코엘로,2010.0,4.76,0.1,26.0,4.0,0.0,5.0,0.0,5.0,1.59,0.250,3.96,0.313,0.125,0.878,0.333,0.100,0.418
131,코엘로,2012.0,12.79,-0.1,33.0,10.0,2.0,4.0,1.0,11.0,2.21,0.533,6.09,0.294,0.118,0.818,0.000,0.136,0.462
41,코엘로,2013.0,3.71,0.3,73.0,14.0,1.0,8.0,0.0,23.0,1.29,0.317,2.52,0.325,0.200,0.822,0.105,0.115,0.431
51,코프랜드,2015.0,6.46,0.3,69.0,24.0,1.0,2.0,0.0,6.0,1.70,0.383,3.59,0.367,0.450,0.663,0.091,0.060,0.441
87,코프랜드,2018.0,0.00,0.0,5.0,1.0,0.0,0.0,0.0,2.0,0.75,0.333,0.16,0.333,0.667,0.455,0.000,0.182,0.636
23,피노,2014.0,5.07,0.7,258.0,66.0,8.0,14.0,1.0,50.0,1.33,0.314,3.94,0.233,0.286,0.584,0.110,0.073,0.484
68,피노,2015.0,3.26,0.1,82.0,23.0,2.0,3.0,0.0,13.0,1.34,0.328,3.60,0.219,0.359,0.602,0.074,0.061,0.491
71,피어밴드,2014.0,6.14,0.1,36.0,12.0,0.0,2.0,0.0,4.0,1.91,0.400,2.86,0.143,0.393,0.577,0.077,0.052,0.446
42,험버,2010.0,4.15,0.3,94.0,22.0,1.0,7.0,1.0,16.0,1.34,0.304,3.31,0.171,0.457,0.540,0.038,0.046,0.466
1,험버,2011.0,3.75,3.2,676.0,151.0,14.0,41.0,6.0,116.0,1.18,0.275,3.58,0.168,0.471,0.458,0.094,0.092,0.463
162,험버,2012.0,6.44,-0.3,462.0,113.0,23.0,44.0,4.0,85.0,1.54,0.294,5.77,0.222,0.349,0.526,0.079,0.079,0.436
155,험버,2013.0,7.90,-0.2,259.0,75.0,9.0,20.0,1.0,36.0,1.74,0.342,5.02,0.213,0.437,0.572,0.029,0.093,0.472
128,휠러,2017.0,9.00,-0.1,18.0,6.0,1.0,4.0,0.0,0.0,3.33,0.385,11.49,0.286,0.500,0.589,0.000,0.036,0.464

In [12]:
외국인메이저성적[(외국인메이저성적['pitcher_name'].isin(playername) ==False)\
 & (외국인메이저성적['pitcher_name'] == '니퍼트')].sort_values(['pitcher_name','year'])

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
163,니퍼트,2010.0,4.29,-0.3,262.0,61.0,7.0,34.0,5.0,47.0,1.68,0.32,5.09,0.267,0.32,0.666,0.099,0.082,0.423

In [13]:
throw_df[throw_df['pitcher_name'] == '니퍼트']

,pitcher_name,year,team,ERA,TBF,H,HR,BB,HBP,SO,year_born,승,패,승률,경기수,방출연도
1,니퍼트,2011,두산,2.55,763,150,8,64,10,150,NaN,15,6,0.714,21,NaN
2,니퍼트,2012,두산,3.20,785,156,15,68,8,126,NaN,11,10,0.524,21,NaN
11,니퍼트,2013,두산,3.58,482,108,7,34,4,104,NaN,12,4,0.750,16,NaN
16,니퍼트,2014,두산,3.81,760,186,17,48,6,158,NaN,14,7,0.667,21,NaN
41,니퍼트,2015,두산,5.10,404,104,4,33,4,76,NaN,6,5,0.545,11,NaN
47,니퍼트,2016,두산,2.95,701,151,15,57,9,142,NaN,22,3,0.880,25,NaN
69,니퍼트,2017,두산,4.06,782,175,20,77,10,161,NaN,14,8,0.636,22,NaN
94,니퍼트,2018,KT,4.25,765,209,26,39,9,165,NaN,8,8,0.500,16,NaN

In [18]:
외국인스탯캐스터[외국인스탯캐스터['pitcher_name'] == '니퍼트']

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2010-10-09,93.0,425834.0,430962,field_out,hit_into_play,4.0,R,R,popup,...,-0.626,2.771,-6.404,26.077,-9.694,NaN,NaN,NaN,4-Seam Fastball,니퍼트
1,2010-10-09,95.2,150289.0,430962,home_run,hit_into_play_score,5.0,L,R,fly_ball,...,-0.112,2.401,-10.168,28.786,-8.895,NaN,NaN,NaN,4-Seam Fastball,니퍼트
2,2010-10-09,94.3,150289.0,430962,NaN,foul,2.0,L,R,NaN,...,0.272,3.052,-5.605,26.657,-7.794,NaN,NaN,NaN,4-Seam Fastball,니퍼트
3,2010-10-09,94.0,150289.0,430962,NaN,blocked_ball,13.0,L,R,NaN,...,-1.193,0.632,-9.099,30.273,-6.371,NaN,NaN,NaN,4-Seam Fastball,니퍼트
4,2010-10-09,92.8,150289.0,430962,NaN,ball,14.0,L,R,NaN,...,0.370,1.383,-5.846,27.290,-11.262,NaN,NaN,NaN,4-Seam Fastball,니퍼트
5,2010-10-09,80.8,150289.0,430962,NaN,foul_tip,13.0,L,R,NaN,...,-1.233,2.059,-10.897,18.539,-20.286,NaN,NaN,NaN,Changeup,니퍼트
6,2010-10-09,92.0,150289.0,430962,NaN,ball,9.0,L,R,NaN,...,0.510,1.722,-6.251,27.786,-10.031,NaN,NaN,NaN,4-Seam Fastball,니퍼트
7,2010-10-09,92.5,430632.0,430962,field_out,hit_into_play,13.0,L,R,line_drive,...,-1.010,2.212,-8.279,26.466,-8.376,NaN,NaN,NaN,4-Seam Fastball,니퍼트
8,2010-10-09,91.2,430632.0,430962,NaN,ball,13.0,L,R,NaN,...,-0.106,1.418,-9.239,25.490,-13.556,NaN,NaN,NaN,4-Seam Fastball,니퍼트
9,2010-10-09,91.8,430632.0,430962,NaN,ball,11.0,L,R,NaN,...,-1.426,2.971,-12.090,25.659,-15.250,NaN,NaN,NaN,2-Seam Fastball,니퍼트
10,2010-10-09,72.2,446481.0,430962,single,hit_into_play_no_out,3.0,R,R,line_drive,...,0.284,2.735,2.282,15.015,-35.061,NaN,NaN,NaN,Curveball,니퍼트
11,2010-10-09,74.9,446481.0,430962,NaN,ball,14.0,R,R,NaN,...,0.971,1.943,3.325,17.327,-34.158,NaN,NaN,NaN,Curveball,니퍼트
12,2010-10-09,74.9,446334.0,430962,field_out,hit_into_play,3.0,R,R,fly_ball,...,0.646,3.327,5.275,16.244,-36.681,NaN,NaN,NaN,Curveball,니퍼트
13,2010-10-09,94.8,446334.0,430962,NaN,ball,12.0,R,R,NaN,...,1.115,3.228,-4.980,28.755,-12.326,NaN,NaN,NaN,4-Seam Fastball,니퍼트
14,2010-10-09,93.0,446334.0,430962,NaN,called_strike,1.0,R,R,NaN,...,-0.643,3.561,-8.090,23.023,-13.955,NaN,NaN,NaN,4-Seam Fastball,니퍼트
15,2010-10-03,93.6,116338.0,430962,field_out,hit_into_play,5.0,R,R,fly_ball,...,0.252,2.855,-5.375,24.106,-8.356,NaN,NaN,NaN,4-Seam Fastball,니퍼트
16,2010-10-03,81.8,116338.0,430962,NaN,called_strike,11.0,R,R,NaN,...,-1.153,2.627,-11.623,16.745,-19.573,NaN,NaN,NaN,Changeup,니퍼트
17,2010-10-03,91.0,116338.0,430962,NaN,ball,13.0,R,R,NaN,...,-1.444,2.147,-10.847,19.287,-11.060,NaN,NaN,NaN,4-Seam Fastball,니퍼트
18,2010-10-03,92.9,116338.0,430962,NaN,foul,3.0,R,R,NaN,...,0.484,3.005,-4.807,23.037,-4.914,NaN,NaN,NaN,4-Seam Fastball,니퍼트
19,2010-10-03,82.0,110029.0,430962,field_out,hit_into_play,13.0,L,R,ground_ball,...,-1.039,2.220,-8.899,14.720,-19.433,NaN,NaN,NaN,Changeup,니퍼트
20,2010-10-03,83.3,110029.0,430962,NaN,ball,13.0,L,R,NaN,...,-1.613,2.073,-9.056,14.950,-19.412,NaN,NaN,NaN,Changeup,니퍼트
21,2010-10-03,93.4,110029.0,430962,NaN,ball,12.0,L,R,NaN,...,0.607,3.726,-4.096,21.057,-7.321,NaN,NaN,NaN,4-Seam Fastball,니퍼트
22,2010-10-03,92.7,110029.0,430962,NaN,foul,11.0,L,R,NaN,...,-0.274,3.704,-10.298,24.682,-6.909,NaN,NaN,NaN,4-Seam Fastball,니퍼트
23,2010-10-03,82.5,110029.0,430962,NaN,foul,11.0,L,R,NaN,...,-1.373,2.758,-11.916,18.294,-20.930,NaN,NaN,NaN,Changeup,니퍼트
24,2010-10-03,90.5,110029.0,430962,NaN,called_strike,1.0,L,R,NaN,...,-0.512,3.142,-7.082,23.088,-8.296,NaN,NaN,NaN,4-Seam Fastball,니퍼트
25,2010-10-03,73.7,435062.0,430962,field_out,hit_into_play,5.0,R,R,ground_ball,...,0.221,2.241,2.830,15.829,-33.562,NaN,NaN,NaN,Curveball,니퍼트
26,2010-10-03,91.7,435062.0,430962,NaN,called_strike,9.0,R,R,NaN,...,0.403,2.074,-7.774,22.358,-8.760,NaN,NaN,NaN,4-Seam Fastball,니퍼트
27,2010-10-03,92.3,435062.0,430962,NaN,ball,14.0,R,R,NaN,...,0.558,1.192,-5.302,25.656,-5.291,NaN,NaN,NaN,4-Seam Fastball,니퍼트
28,2010-10-03,92.3,435062.0,430962,NaN,ball,6.0,R,R,NaN,...,0.728,2.160,-7.655,25.330,-9.440,NaN,NaN,NaN,4-Seam Fastball,니퍼트
29,2010-10-03,71.5,488721.0,430962,home_run,hit_into_play_score,1.0,R,R,fly_ball,...,-0.821,3.090,3.006,13.518,-37.634,NaN,NaN,NaN,Curveball,니퍼트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,2010-06-06,95.8,450314.0,430962,NaN,ball,12.0,L,R,NaN,...,1.276,3.034,-5.018,19.989,-15.355,NaN,NaN,NaN,4-Seam Fastball,니퍼트
561,2010-06-06,94.4,450314.0,430962,NaN,foul,12.0,L,R,NaN,...,0.838,3.750,-5.743,18.865,-13.278,NaN,NaN,NaN,4-Seam Fastball,니퍼트
562,2010-06-06,93.7,450314.0,430962,NaN,foul,6.0,L,R,NaN,...,0.545,3.053,-6.640,22.702,-9.881,NaN,NaN,NaN,4-Seam Fastball,니퍼트
563,2010-06-06,92.9,450314.0,430962,NaN,foul,12.0,L,R,NaN,...,1.113,3.085,-0.542,22.297,-10.474,NaN,NaN,NaN,4-Seam Fastball,니퍼트
564,2010-06-06,81.9,450314.0,430962,NaN,ball,11.0,L,R,NaN,...,-1.602,2.890,-8.893,16.893,-24.623,NaN,NaN,NaN,Changeup,니퍼트
565,2010-06-06,82.9,450314.0,430962,NaN,ball,11.0,L,R,NaN,...,-0.716,4.012,-11.895,15.124,-26.225,NaN,NaN,NaN,Changeup,니퍼트
566,2010-06-06,92.0,446334.0,430962,field_out,hit_into_play,2.0,R,R,fly_ball,...,0.130,3.474,-6.248,21.940,-13.997,NaN,NaN,NaN,4-Seam Fastball,니퍼트
567,2010-06-06,92.0,446334.0,430962,NaN,ball,9.0,R,R,NaN,...,0.689,1.849,-10.344,19.346,-14.462,NaN,NaN,NaN,4-Seam Fastball,니퍼트
568,2010-06-06,74.0,446334.0,430962,NaN,ball,14.0,R,R,NaN,...,0.530,1.142,3.260,13.945,-40.029,NaN,NaN,NaN,Curveball,니퍼트
569,2010-06-06,89.5,446334.0,430962,NaN,called_strike,12.0,R,R,NaN,...,0.967,3.075,-1.464,15.594,-13.697,NaN,NaN,NaN,4-Seam Fastball,니퍼트
570,2010-06-06,90.8,446334.0,430962,NaN,ball,11.0,R,R,NaN,...,-0.061,4.177,-3.589,21.135,-10.263,NaN,NaN,NaN,4-Seam Fastball,니퍼트
571,2010-06-06,93.1,408307.0,430962,field_out,hit_into_play,12.0,L,R,ground_ball,...,0.888,2.886,-5.585,22.450,-11.538,NaN,NaN,NaN,4-Seam Fastball,니퍼트
572,2010-06-06,81.1,444379.0,430962,walk,ball,11.0,L,R,NaN,...,-1.267,2.470,-10.210,15.832,-27.975,NaN,NaN,NaN,Changeup,니퍼트
573,2010-06-06,92.8,444379.0,430962,NaN,foul,12.0,L,R,NaN,...,0.155,3.287,-2.761,15.937,-17.043,NaN,NaN,NaN,4-Seam Fastball,니퍼트
574,2010-06-06,94.0,444379.0,430962,NaN,blocked_ball,14.0,L,R,NaN,...,1.359,0.547,-5.116,18.634,-12.783,NaN,NaN,NaN,4-Seam Fastball,니퍼트
575,2010-06-06,92.7,444379.0,430962,NaN,foul,1.0,L,R,NaN,...,-0.521,2.888,-1.643,19.368,-15.907,NaN,NaN,NaN,4-Seam Fastball,니퍼트
576,2010-06-06,75.0,444379.0,430962,NaN,ball,9.0,L,R,NaN,...,0.317,1.951,1.844,12.442,-39.282,NaN,NaN,NaN,Curveball,니퍼트
577,2010-06-06,86.1,444379.0,430962,NaN,pitchout,11.0,L,R,NaN,...,-3.708,4.313,-4.253,14.984,-21.904,NaN,NaN,NaN,Pitch Out,니퍼트
578,2010-06-06,91.3,444379.0,430962,NaN,foul,1.0,L,R,NaN,...,-0.674,2.902,-10.750,22.718,-13.429,NaN,NaN,NaN,4-Seam Fastball,니퍼트
579,2010-06-06,92.4,425834.0,430962,single,hit_into_play_score,4.0,R,R,ground_ball,...,-0.676,2.375,-12.757,25.780,-11.058,NaN,NaN,NaN,2-Seam Fastball,니퍼트
580,2010-06-06,92.8,425834.0,430962,NaN,ball,11.0,R,R,NaN,...,-1.504,4.039,-9.531,20.534,-12.991,NaN,NaN,NaN,4-Seam Fastball,니퍼트
581,2010-06-06,93.2,425834.0,430962,NaN,swinging_strike,11.0,R,R,NaN,...,-1.191,2.733,-11.994,21.408,-13.553,NaN,NaN,NaN,4-Seam Fastball,니퍼트
582,2010-06-06,92.0,458582.0,430962,field_out,hit_into_play,9.0,L,R,ground_ball,...,0.317,1.818,-1.999,20.092,-13.521,NaN,NaN,NaN,4-Seam Fastball,니퍼트
583,2010-06-06,72.4,446481.0,430962,single,hit_into_play_no_out,11.0,R,R,ground_ball,...,-0.523,3.759,6.026,12.149,-40.256,NaN,NaN,NaN,Curveball,니퍼트
584,2010-06-06,93.9,431159.0,430962,strikeout,called_strike,6.0,R,R,NaN,...,0.706,2.462,-5.273,16.473,-20.546,NaN,NaN,NaN,4-Seam Fastball,니퍼트
585,2010-06-06,77.9,431159.0,430962,NaN,ball,14.0,R,R,NaN,...,0.292,1.047,0.189,13.861,-43.022,NaN,NaN,NaN,Curveball,니퍼트
586,2010-06-06,76.4,431159.0,430962,NaN,foul,8.0,R,R,NaN,...,-0.078,1.888,-0.148,15.835,-40.053,NaN,NaN,NaN,Curveball,니퍼트
587,2010-06-06,95.0,431159.0,430962,NaN,ball,13.0,R,R,NaN,...,-1.548,2.294,-3.875,20.833,-14.741,NaN,NaN,NaN,4-Seam Fastball,니퍼트
588,2010-06-06,74.4,431159.0,430962,NaN,called_strike,8.0,R,R,NaN,...,-0.007,2.035,3.403,11.049,-38.604,NaN,NaN,NaN,Curveball,니퍼트
589,2010-06-06,92.7,431159.0,430962,NaN,foul,12.0,R,R,NaN,...,0.005,3.459,-3.799,19.545,-11.979,NaN,NaN,NaN,4-Seam Fastball,니퍼트

In [20]:
외국인스탯캐스터[외국인스탯캐스터['pitcher_name'] == '니퍼트'].columns

Index(['game_date', 'release_speed', 'batter', 'pitcher', 'events',
       'description', 'zone', 'stand', 'p_throws', 'bb_type', 'balls',
       'strikes', 'pfx_x', 'pfx_z', 'plate_x', 'plate_z', 'ax', 'ay', 'az',
       'launch_speed', 'launch_angle', 'release_spin_rate', 'pitch_name',
       'pitcher_name'],
      dtype='object')

In [5]:
외국인스탯캐스터['km변환'] = 외국인스탯캐스터['release_speed'].apply(lambda x:round(x*1.609344,0))

In [6]:
외국인스탯캐스터[외국인스탯캐스터['pitcher_name'] == '니퍼트']['km변환'].mean()

143.8826530612245

In [9]:
외국인스탯캐스터.groupby('pitcher_name',as_index=False).agg({'km변환':'mean'})\
.sort_values('km변환',ascending=False).reset_index(drop=True)

   pitcher_name        km변환
0           산체스  148.250000
1           오간도  146.804119
2           피가로  146.692853
3           로저스  146.350623
4            에반  146.079235
5           루카스  145.461560
6           스틴슨  145.005855
7            헥터  144.979542
8           웹스터  144.333665
9           코엘로  144.119403
10           소사  144.056128
11         밴덴헐크  143.940217
12          니퍼트  143.882653
13          브리검  143.470779
14          보우덴  143.459302
15           샘슨  143.447283
16          스와잭  143.442990
17           울프  143.303532
18           허프  142.790487
19         레이예스  142.304605
20          플란데  142.260825
21          탈보트  142.190615
22           지크  141.890805
23         어센시오  141.802174
24         볼스테드  141.777028
25         후랭코프  141.729730
26         듀브론트  141.691396
27         린드블럼  141.346878
28          마리몬  141.294258
29          레나도  141.203608
30          보니야  140.985582
31           맨쉽  140.878935
32           헤일  140.833504
33           팻딘  140.676166
34         코프랜드  140.543651
35           베렛  140.471535
36          티포드  140.218256
37          토마스  140.142473
38           레온  140.058685
39           윌슨  139.833629
40           험버  139.762810
41           세든  139.613229
42          아델만  139.557680
43        다이아몬드  139.498235
44           올슨  139.211485
45           웨버  139.139752
46           어윈  139.005682
47          레일리  138.134969
48         이브랜드  138.079137
49         오설리반  137.886364
50         피어밴드  137.761194
51           휠러  137.571429
52           피노  137.539535
53           아담  136.447248
54           마야  136.331946
55         클로이드  135.979284
56        비야누에바  135.465611
57          서캠프  135.198795
58           해커  135.182540
59          앨버스  134.182116

In [28]:
외국인스탯캐스터.groupby(['pitcher_name','pitch_name']).agg({'pitch_name':'count'}).T['휠러']

pitch_name  2-Seam Fastball  4-Seam Fastball  Changeup  Slider
pitch_name               16               17        11      12

In [74]:
mlb_data = pd.DataFrame({'pitcher_name':[], '2-Seam Fastball':[],'4-Seam Fastball':[],'Changeup':[],'Curveball':[],
                        'Cutter':[],'Intentional Ball':[],'Pitch Out':[],'Slider':[]})
for name in playername:
    a = 외국인스탯캐스터.groupby(['pitcher_name','pitch_name']).agg({'pitch_name':'count'})\
.T[name].reset_index(drop=True)
    a['pitcher_name'],a['cnt'] = name, a.shape[1]
    mlb_data = mlb_data.append(a,ignore_index=True)
mlb_data

C:\Users\gh\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

,2-Seam Fastball,4-Seam Fastball,Changeup,Curveball,Cutter,Fastball,Forkball,Intentional Ball,Pitch Out,Sinker,Slider,cnt,pitcher_name
0,75.0,337.0,112.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,184.0,5.0,올슨
1,NaN,875.0,774.0,607.0,NaN,NaN,NaN,49.0,6.0,2995.0,1215.0,7.0,볼스테드
2,773.0,950.0,297.0,88.0,NaN,NaN,NaN,NaN,3.0,NaN,256.0,6.0,레이예스
3,NaN,40.0,14.0,17.0,NaN,NaN,NaN,4.0,NaN,35.0,24.0,6.0,피어밴드
4,18.0,87.0,16.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,어윈
5,185.0,304.0,164.0,120.0,NaN,1.0,NaN,6.0,NaN,NaN,181.0,7.0,마야
6,742.0,1987.0,625.0,1006.0,44.0,NaN,NaN,15.0,13.0,NaN,1091.0,8.0,험버
7,NaN,441.0,NaN,31.0,3.0,NaN,59.0,NaN,2.0,NaN,NaN,5.0,코엘로
8,105.0,152.0,75.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,마리몬
9,207.0,324.0,182.0,25.0,NaN,NaN,NaN,1.0,NaN,NaN,153.0,6.0,세든
10,376.0,847.0,449.0,34.0,9.0,NaN,NaN,4.0,NaN,NaN,289.0,7.0,웹스터
11,118.0,50.0,23.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,44.0,5.0,코프랜드
12,150.0,608.0,133.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,322.0,5.0,피노
13,NaN,1939.0,686.0,258.0,29.0,NaN,NaN,28.0,5.0,611.0,975.0,8.0,오설리반
14,1916.0,3717.0,1379.0,1250.0,760.0,NaN,NaN,8.0,1.0,NaN,NaN,7.0,듀브론트
15,16.0,17.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,4.0,휠러
16,708.0,3390.0,246.0,661.0,134.0,NaN,NaN,44.0,2.0,NaN,1717.0,8.0,로저스

In [75]:
import warnings
warnings.filterwarnings('ignore')
not_out = list(filter(lambda x:x not in playername,list(throw_df.drop_duplicates(['pitcher_name'])['pitcher_name'])))

mlb_data_2 = pd.DataFrame({'pitcher_name':[], '2-Seam Fastball':[],'4-Seam Fastball':[],'Changeup':[],'Curveball':[],
                        'Cutter':[],'Intentional Ball':[],'Pitch Out':[],'Slider':[]})
for name in not_out:
    try:
        a = 외국인스탯캐스터.groupby(['pitcher_name','pitch_name']).agg({'pitch_name':'count'})\
    .T[name].reset_index(drop=True)
        a['pitcher_name'],a['cnt'] = name, a.shape[1]
        mlb_data_2 = mlb_data_2.append(a,ignore_index=True)
    except:
        print(name)
mlb_data_2

리즈
카스티요

,2-Seam Fastball,4-Seam Fastball,Changeup,Curveball,Cutter,Eephus,Fastball,Intentional Ball,Pitch Out,Sinker,Slider,Split Finger,Unknown,cnt,pitcher_name
0,26.0,384.0,81.0,82.0,6.0,NaN,NaN,4.0,1.0,NaN,4.0,NaN,NaN,8.0,니퍼트
1,19.0,245.0,8.0,NaN,20.0,NaN,NaN,4.0,2.0,269.0,306.0,NaN,NaN,8.0,소사
2,58.0,433.0,429.0,NaN,171.0,NaN,NaN,9.0,5.0,1360.0,284.0,NaN,NaN,8.0,탈보트
3,230.0,247.0,138.0,67.0,8.0,NaN,NaN,15.0,NaN,146.0,261.0,NaN,NaN,8.0,이브랜드
4,NaN,260.0,45.0,23.0,NaN,NaN,NaN,NaN,NaN,91.0,133.0,NaN,NaN,5.0,밴덴헐크
5,7.0,128.0,8.0,52.0,NaN,NaN,1.0,4.0,1.0,NaN,51.0,NaN,NaN,8.0,해커
6,98.0,126.0,96.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,5.0,아담
7,NaN,35.0,78.0,61.0,NaN,NaN,NaN,NaN,1.0,578.0,164.0,NaN,NaN,6.0,앨버스
8,33.0,148.0,16.0,124.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,5.0,웨버
9,36.0,696.0,148.0,382.0,NaN,NaN,NaN,NaN,1.0,NaN,446.0,NaN,NaN,6.0,티포드
10,184.0,176.0,369.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,177.0,NaN,NaN,5.0,어센시오
11,82.0,389.0,234.0,NaN,NaN,NaN,NaN,8.0,1.0,100.0,92.0,NaN,NaN,7.0,울프
12,NaN,115.0,108.0,NaN,NaN,NaN,NaN,4.0,NaN,80.0,65.0,NaN,NaN,5.0,토마스
13,582.0,786.0,154.0,187.0,NaN,NaN,NaN,24.0,1.0,NaN,604.0,NaN,NaN,7.0,린드블럼
14,257.0,541.0,157.0,176.0,454.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,6.0,클로이드
15,601.0,859.0,691.0,685.0,13.0,NaN,NaN,14.0,3.0,3633.0,654.0,NaN,1.0,10.0,루카스
16,162.0,363.0,67.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,178.0,NaN,NaN,5.0,스틴슨
17,82.0,98.0,56.0,100.0,NaN,NaN,NaN,NaN,NaN,163.0,153.0,NaN,NaN,6.0,레일리
18,51.0,978.0,90.0,NaN,NaN,NaN,NaN,10.0,1.0,NaN,423.0,NaN,NaN,6.0,피가로
19,1320.0,2685.0,339.0,6.0,NaN,NaN,NaN,55.0,2.0,NaN,1627.0,NaN,NaN,7.0,스와잭
20,165.0,1025.0,50.0,378.0,205.0,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN,7.0,에반
21,70.0,1050.0,2.0,NaN,100.0,NaN,NaN,12.0,2.0,NaN,409.0,247.0,NaN,8.0,보우덴
22,NaN,92.0,12.0,72.0,NaN,NaN,NaN,NaN,NaN,253.0,93.0,NaN,NaN,5.0,지크
23,655.0,2933.0,1274.0,520.0,NaN,NaN,1.0,40.0,1.0,NaN,1074.0,NaN,NaN,8.0,헥터
24,171.0,2057.0,600.0,181.0,398.0,NaN,NaN,20.0,NaN,NaN,105.0,NaN,NaN,7.0,허프
25,NaN,85.0,345.0,NaN,NaN,NaN,NaN,17.0,NaN,1025.0,489.0,NaN,NaN,5.0,플란데
26,94.0,384.0,120.0,246.0,6.0,NaN,NaN,15.0,2.0,NaN,129.0,NaN,NaN,8.0,서캠프
27,NaN,244.0,42.0,57.0,NaN,NaN,NaN,12.0,NaN,NaN,71.0,NaN,NaN,5.0,레온
28,165.0,3128.0,605.0,1451.0,NaN,NaN,NaN,33.0,1.0,NaN,NaN,NaN,NaN,6.0,다이아몬드
29,239.0,321.0,209.0,1187.0,NaN,NaN,NaN,37.0,1.0,1087.0,NaN,NaN,NaN,7.0,맨쉽
30,62.0,131.0,11.0,12.0,NaN,NaN,NaN,4.0,NaN,NaN,88.0,NaN,NaN,6.0,브리검
31,NaN,647.0,121.0,86.0,NaN,NaN,NaN,3.0,NaN,NaN,301.0,NaN,NaN,5.0,팻딘
32,413.0,4694.0,641.0,NaN,387.0,NaN,NaN,53.0,1.0,NaN,2548.0,NaN,NaN,7.0,오간도
33,1027.0,3160.0,1828.0,1205.0,NaN,53.0,NaN,70.0,8.0,NaN,2245.0,NaN,NaN,8.0,비야누에바
34,NaN,959.0,126.0,360.0,NaN,NaN,NaN,NaN,NaN,NaN,107.0,NaN,NaN,4.0,레나도
35,NaN,1095.0,191.0,238.0,NaN,NaN,NaN,4.0,1.0,NaN,280.0,NaN,NaN,6.0,샘슨
36,NaN,1.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,18.0,12.0,NaN,NaN,5.0,후랭코프
37,201.0,1466.0,629.0,505.0,NaN,NaN,NaN,4.0,5.0,312.0,NaN,NaN,NaN,7.0,아델만
38,91.0,419.0,256.0,198.0,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,6.0,보니야
39,423.0,934.0,272.0,162.0,NaN,NaN,NaN,24.0,1.0,NaN,608.0,NaN,NaN,7.0,베렛
40,NaN,101.0,33.0,29.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,산체스
41,423.0,1022.0,252.0,543.0,10.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,7.0,윌슨
42,763.0,1114.0,469.0,540.0,4.0,NaN,NaN,34.0,7.0,NaN,NaN,NaN,NaN,7.0,헤일

In [69]:
외국인스탯캐스터[외국인스탯캐스터['pitcher_name'] == '리즈']

Empty DataFrame
Columns: [game_date, release_speed, batter, pitcher, events, description, zone, stand, p_throws, bb_type, balls, strikes, pfx_x, pfx_z, plate_x, plate_z, ax, ay, az, launch_speed, launch_angle, release_spin_rate, pitch_name, pitcher_name, km변환]
Index: []

[0 rows x 25 columns]

In [71]:
외국인메이저성적[외국인메이저성적['pitcher_name'] == '리즈']

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
139,리즈,2015.0,4.24,-0.2,106.0,26.0,4.0,12.0,3.0,27.0,1.63,0.367,4.98,0.349,0.349,0.69,0.158,0.103,0.461