In [1]:
import pandas as pd

In [2]:
외국인역대성적 = pd.read_csv('kbo_yearly_foreigners_2011_2018.csv')
외국인메이저성적 = pd.read_csv('fangraphs_foreigners_2011_2018.csv')
외국인스탯캐스터 = pd.read_csv('baseball_savant_foreigners_2011_2018.csv')
신규외국인성적 = pd.read_csv('fangraphs_foreigners_2019.csv')
신규외국인스텟캐스터 = pd.read_csv('baseball_savant_foreigners_2019.csv')

In [3]:
display(외국인역대성적.head())
print('*'*50)
display(외국인메이저성적.head())
print('*'*50)
display(외국인스탯캐스터.head())
print('*'*50)
display(신규외국인성적.head())
print('*'*50)
display(신규외국인스텟캐스터.head())
print('*'*50)

  pitcher_name  year team   ERA  TBF    H  HR  BB  HBP   SO year_born
0          니퍼트  2011   두산  2.55  763  150   8  64   10  150       NaN
1          니퍼트  2012   두산  3.20  785  156  15  68    8  126       NaN
2          니퍼트  2013   두산  3.58  482  108   7  34    4  104       NaN
3          니퍼트  2014   두산  3.81  760  186  17  48    6  158       NaN
4          니퍼트  2015   두산  5.10  404  104   4  33    4   76       NaN

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,오간도,2011.0,3.51,3.3,693.0,149.0,16.0,43.0,7.0,126.0,1.14,0.265,3.65,0.237,0.364,0.674,0.147,0.090,0.475
1,험버,2011.0,3.75,3.2,676.0,151.0,14.0,41.0,6.0,116.0,1.18,0.275,3.58,0.168,0.471,0.458,0.094,0.092,0.463
2,루카스,2012.0,3.76,2.8,827.0,185.0,13.0,78.0,1.0,140.0,1.36,0.289,3.75,0.203,0.572,0.707,0.082,0.062,0.424
3,다이아몬드,2012.0,3.54,2.2,714.0,184.0,17.0,31.0,4.0,90.0,1.24,0.292,3.94,0.210,0.534,0.597,0.040,0.068,0.467
4,듀브론트,2013.0,4.32,2.2,705.0,161.0,13.0,71.0,5.0,139.0,1.43,0.310,3.78,0.199,0.456,0.633,0.127,0.077,0.434

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2010-10-09,93.0,425834.0,430962,field_out,hit_into_play,4.0,R,R,popup,...,-0.626,2.771,-6.404,26.077,-9.694,NaN,NaN,NaN,4-Seam Fastball,니퍼트
1,2010-10-09,95.2,150289.0,430962,home_run,hit_into_play_score,5.0,L,R,fly_ball,...,-0.112,2.401,-10.168,28.786,-8.895,NaN,NaN,NaN,4-Seam Fastball,니퍼트
2,2010-10-09,94.3,150289.0,430962,NaN,foul,2.0,L,R,NaN,...,0.272,3.052,-5.605,26.657,-7.794,NaN,NaN,NaN,4-Seam Fastball,니퍼트
3,2010-10-09,94.0,150289.0,430962,NaN,blocked_ball,13.0,L,R,NaN,...,-1.193,0.632,-9.099,30.273,-6.371,NaN,NaN,NaN,4-Seam Fastball,니퍼트
4,2010-10-09,92.8,150289.0,430962,NaN,ball,14.0,L,R,NaN,...,0.370,1.383,-5.846,27.290,-11.262,NaN,NaN,NaN,4-Seam Fastball,니퍼트

**************************************************

,pitcher_name,year,ERA,WAR,TBF,H,HR,BB,HBP,SO,WHIP,BABIP,FIP,LD%,GB%,FB%,IFFB%,SwStr%,Swing%
0,버틀러,2017.0,3.95,0.6,237.0,50.0,4.0,28.0,2.0,30.0,1.43,0.266,4.66,0.224,0.443,0.661,0.138,0.072,0.465
1,터너,2014.0,6.13,0.5,501.0,148.0,12.0,33.0,1.0,71.0,1.60,0.354,4.16,0.208,0.491,0.636,0.052,0.080,0.461
2,터너,2013.0,3.74,0.3,514.0,116.0,11.0,54.0,4.0,77.0,1.44,0.285,4.43,0.195,0.457,0.675,0.047,0.083,0.454
3,맥과이어,2017.0,2.63,0.3,56.0,10.0,1.0,2.0,1.0,11.0,0.88,0.220,3.16,0.119,0.286,0.638,0.080,0.095,0.448
4,터너,2012.0,4.42,0.2,231.0,50.0,9.0,16.0,0.0,36.0,1.20,0.241,4.79,0.192,0.452,0.566,0.079,0.096,0.454

**************************************************

,game_date,release_speed,batter,pitcher,events,description,zone,stand,p_throws,bb_type,...,plate_x,plate_z,ax,ay,az,launch_speed,launch_angle,release_spin_rate,pitch_name,pitcher_name
0,2018-05-03,85.4,519058,518445,sac_fly,hit_into_play_score,13.0,L,L,fly_ball,...,-0.9200,2.0320,-6.1015,22.5146,-29.0091,90.4,26.0,2305.0,Cutter,채드벨
1,2018-05-03,91.7,519058,518445,NaN,foul,12.0,L,L,NaN,...,0.4845,3.5506,6.7067,29.5849,-15.5999,72.7,14.0,2265.0,4-Seam Fastball,채드벨
2,2018-05-03,86.1,519058,518445,NaN,foul,13.0,L,L,NaN,...,-1.4736,1.6516,-5.7169,25.0563,-27.4184,NaN,NaN,2379.0,Cutter,채드벨
3,2018-05-03,85.3,519058,518445,NaN,ball,11.0,L,L,NaN,...,-1.5007,2.5166,-2.7315,24.9668,-30.5457,NaN,NaN,2284.0,Cutter,채드벨
4,2018-05-03,83.3,519058,518445,NaN,swinging_strike,12.0,L,L,NaN,...,0.3519,3.5876,-3.3883,24.6765,-32.2025,NaN,NaN,2332.0,Slider,채드벨

**************************************************

In [32]:
name = list(set(외국인역대성적['pitcher_name']))

In [17]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [19]:
from selenium import webdriver
import time
path = '../driver/chromedriver.exe'
driver = webdriver.Chrome(path)

In [164]:
driver.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
page1 = driver.find_elements_by_tag_name('option')
for year in [ i for i in range(2011,2019)]:
    page1 = driver.find_elements_by_tag_name('option')
    for i in page1:
        if i.text == str(year):
            print(year)
            i.click()
            time.sleep(1.5)
            page = driver.find_elements_by_css_selector('.tData01')
            k = page[0].find_element_by_tag_name('thead').find_element_by_tag_name('tr').find_elements_by_tag_name('th')
            k[5].click()
            time.sleep(1.5)
            page3 = driver.find_elements_by_css_selector('.paging')
            for page_num in range(1,6):
                page3 = driver.find_elements_by_css_selector('.paging')
                page3[0].find_elements_by_tag_name('a')[page_num].click()
                time.sleep(1.5)
                page2 = driver.find_elements_by_css_selector('.tData01')
                a = page2[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
                for idx,value in enumerate(a):
                    print(value.find_elements_by_tag_name('td')[1].text)

2011
윤석민
김선우
니퍼트
장원준
윤성환
송승준
박현준
안지만
사도스키
로페즈
리즈
류현진
차우찬
주키치
고원준
손영민
임찬규
송은범
장원삼
서재응
글로버
양현종
트레비스
나이트
박정진
안승민
고든
이승호
이승호
배영수
정인욱
이용찬
양훈
고효준
매티스
저마노
카도쿠라
노경은
김사율
문성현
이보근
김혁민
김광현
박희수
이영욱
정우람
정현욱
부첵
임경완
코리
김광삼
김성현
손승락
송창식
신주영
오넬리
엄정욱
윤희상
전병두
정대현
김상현
김승회
이현승
페르난도
이재곤
심동섭
유동훈
김선규
송신영
강윤구
김성태
이정훈
바티스타
매그레인
이재영
임현준
정재훈
강영식
김건한
최성민
한희
금민철
김영민
박준수
심수창
오재영
윤지웅
김광수
마일영
신승현
권오준
권혁
오승환
고창성
김성배
서동환
이혜천
임태훈
김일엽
진명호
곽정철
박경태
한기주
봉중근
유원상
이동현
김상수
김수경
마정길
데폴라
유창식
윤규진
장민제
정재원
김태훈
문광은
박종훈
오성민
이상훈
임정우
전준호
조영민
최원재
곽동훈
김효남
명재철
문수호
박민규
이규대
이동걸
이우선
임진우
김강률
김창훈
박정배
안규영
양현
이현호
장민익
정대현
조승수
최현진
홍상삼
김명성
김수완
배장호
이명우
이용훈
이정민
허준혁

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=87.0.4280.88)

In [35]:
name_dict = {}
for data in name:
    name_dict[data] = 0

In [ ]:
elems = browser.find_elements_by_xpath((xpath)[i])
length = elems.size();

In [45]:
a = page[0].find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')
for i in a:
    print(i.find_elements_by_tag_name('td')[1].text)

요키시
스트레일리
브룩스
알칸타라
루친스키
켈리
뷰캐넌
최채흥
문승원
임찬규
쿠에바스
데스파이네
가뇽
윌슨
라이트
양현종
박세웅
박종훈
서폴드
핀토